@{
    ViewBag.Title = @Resources.ResourceItem.LblCompositeItem;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="col-xs-12 col-sm-12" ng-controller="compositeItemCtrl">
    @* ************ FORM - SECTION (Start)*************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">
            @Resources.ResourceItem.LblCompositeItem
        </div>

        <div class="panel-body  border-green pt pb">
            <div class="row">

                <div class="col-md-2 col-sm-4 col-xs-4 selector-container-div">

                    <div class="panel panel-default selector-container">
                        <div class="panel-body" style="padding: 0;">
                            <div class="form-group">
                                <label class="control-label">@Resources.ResourceItem.LblCompositeItem</label>
                                <div class="" style="height: 600px;">
                                    <select multiple data-ng-model="CompositeItemId" class="form-control listSelect" focus-on="focusMe"
                                            required data-ng-options="c.Id as c.Name for c in allCompositeItemFromDb" name="CompositeItemId"
                                            style="height: 100%; overflow-y: auto; padding: 0;" ng-change="loadCompositeItemDetailsById(CompositeItemId)">
                                        <option value="">@Resources.ResourceCommon.LblSelect</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-8 col-xs-8">
                    <div class="form-horizontal">
                        <form name="form" novalidate>
                            <div class="row">
                                <div class="col-md-5" style="padding: 0 0 20px 0">
                                    <div class="form-group" show-errors>
                                        <div class=" padding-right-zero">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color">
                                                <b class="starStyle"></b> @Resources.ResourceItem.LblItemCategory
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <select data-ng-model="CategoryId" class="form-control" required
                                                    data-ng-options="c.Id as c.Name for c in allItemCategoryFromDb" name="CategoryId"
                                                    ng-change="loadAllItemByCategoryId(CategoryId)">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItem.LblItemCategory</option>
                                            </select>
                                            <b class="help-block" ng-if="form.CategoryId.$error.required">
                                                @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceItem.LblItemCategory)
                                            </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5" style="padding: 0 0 20px 0">
                                    <div class="form-group" show-errors>
                                        <div class=" padding-right-zero">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color">
                                                <b class="starStyle"></b> @Resources.ResourceItem.LblCompositeItem
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <select data-ng-model="Id" class="form-control" required
                                                    data-ng-options="c.Id as c.Name for c in allItemFromDb" name="Id">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItem.LblCompositeItem</option>
                                            </select>
                                            <b class="help-block" ng-if="form.Id.$error.required">
                                                @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceItem.LblCompositeItem)
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th class="col-md-5">
                                            @Resources.ResourceItem.LblItemCategory
                                        </th>
                                        <th class="col-md-5">
                                            @Resources.ResourceItem.LblItem
                                        </th>
                                        <th class="col-md-2">
                                            @Resources.ResourceCommon.LblAction
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="aItem in CompositeItemChilds">
                                        <td>
                                            <select data-ng-model="aItem.ItemCategoryId" class="form-control"
                                                    data-ng-options="c.Id as c.Name for c in allItemCategoryFromDb | orderBy: 'Name'" name="ItemCategoryId" ng-change="getAllItemByCategoryId($index,aItem.ItemCategoryId)">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItem.LblItemCategory</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select data-ng-model="aItem.Id" class="form-control"
                                                    data-ng-options="c.Id as c.Name for c in aItem.allItemFromDb | orderBy: 'Name'" name="Id">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItem.LblItem</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="button" class=" btn btn-danger"
                                                   ng-click="CompositeItemChilds.splice($index, 1)"
                                                   title="@Resources.ResourceCommon.MsgConfirmRemoveFromTheDetails"
                                                   value="@Resources.ResourceCommon.LblRemove">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-2 padding-left-zero">
                                <input type="button" class=" btn btn-block btn-sm btn-info buttonadditem" ng-click="addNewDetail($event)" value="@Resources.ResourceCommon.LblAddDetailItem" style="width: 100%;" />
                            </div>
                        </form>
                        <br /><br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <input type="button" ng-click="addCompositeItem()" class="btn btn-primary" value="@Resources.ResourceCommon.LblSave" />
                                    <input type="button" ng-click="reset()" class="btn btn-default" value="@Resources.ResourceCommon.LblReset" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ************ FORM - SECTION (End)*************** *@


    @* ************ POP-UP MODEL (Start)*************** *@
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    @* ************ POP-UP MODEL (End)*************** *@
</div>


@* ************ SCRIPT - SECTION (Start) *************** *@
<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });

    app.factory('compositeItemService', ['$http', function ($http) {
        return {
            saveCompositeItem: function (compositeItem) {
                return $http({
                    url: '/Item/CreateCompositeItem',
                    method: 'POST',
                    data: compositeItem
                });
            },
            getCompositeItem: function (itemid) {
                return $http.get('/Item/GetCompositeItem/' + itemid);
            },
            getCompositeItemList: function () {
                return $http.get('/Item/GetCompositeItemList');
            },
            getAllItemByCategoryId: function (id) {
                return $http.get('/Item/GetItemListByCategoryId?id=' + id);
            },
            getAllItemCategory: function () {
                return $http.get('/ItemCategory/GetItemCategoryList');
            }
        };
    }]);

    app.controller('compositeItemCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, compositeItemService,$log,$ngBootbox) {
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        $scope.showModalforSearch = false;

        $scope.CompositeItemChilds = [];
        $scope.CompositeItemChilds.push({ ItemCategoryId: null, Id: null });

        $scope.addNewDetail = function ($event) {
            $scope.CompositeItemChilds.push({ ItemCategoryId: null, Id: null });
        }

        // Add a new CompositeItem
        $scope.addCompositeItem = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var CompositeItem = {};

                CompositeItem["Id"] = $scope.Id;
                CompositeItem["Item1"] = $scope.CompositeItemChilds;

                if (CompositeItem["Item1"].length > 0) {
                    for (var i = 0; i < CompositeItem["Item1"].length; i++) {
                        if (CompositeItem["Item1"][i].Id !== null && CompositeItem["Item1"][i].Id !== undefined) {
                        }
                        else {
                            $ngBootbox.alert('@Resources.ResourceItem.LblItemRequiredICompositeItemChilds');
                            return;
                        }
                    }
                    compositeItemService.saveCompositeItem(CompositeItem)
                        .then(function onSuccess(response) {
                            $scope.messageModalObj.message = response.data.message;
                            $scope.showModalforSearch = true;
                            $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                            $scope.reset();
                            $scope.loadCompositeItem();
                        })
                        .catch(function onError(response) {
                            $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                        });
                }
                else {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgNeedDetails');
                    return;
                }
            }
            else {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgFillAll');
            }
        };

        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.CategoryId = null;
            $scope.Id = null;
            $scope.CompositeItemChilds = [];
            $scope.CompositeItemChilds.push({ ItemCategoryId: null, Id: null });
            $scope.CompositeItemId = null;
        }

        loadAllItemCategory();
        function loadAllItemCategory() {
            $scope.allItemCategoryFromDb = [];
            compositeItemService.getAllItemCategory()
                .then(function onSuccess(response) {
                    $scope.allItemCategoryFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.loadAllItemByCategoryId = function (categoryId) {
            $scope.allItemFromDb = [];
            if (categoryId != null)
                compositeItemService.getAllItemByCategoryId(categoryId)
                .then(function onSuccess(response) {
                    $scope.allItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.getAllItemByCategoryId = function (index, categoryId) {
            $scope.CompositeItemChilds[index].allItemFromDb = [];
            if (categoryId != null)
                compositeItemService.getAllItemByCategoryId(categoryId)
                .then(function onSuccess(response) {
                    $scope.CompositeItemChilds[index].allItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.loadCompositeItemDetailsById = function (itemId) {
            $scope.CompositeItemChilds = [];
            if (itemId != null)
                compositeItemService.getCompositeItem(itemId)
                .then(function onSuccess(response) {
                    $scope.CategoryId = response.data.ItemCategoryId;
                    $scope.Id = response.data.Id;
                    $scope.CompositeItemChilds = response.data.Item1;
                    $scope.loadAllItemByCategoryId($scope.CategoryId);
                    for (var i in $scope.CompositeItemChilds) {
                        $scope.getAllItemByCategoryId(i, $scope.CompositeItemChilds[i].ItemCategoryId)
                    }
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.loadCompositeItem = function () {
            $scope.allCompositeItemFromDb = [];
            compositeItemService.getCompositeItemList()
                .then(function onSuccess(response) {
                    $scope.allCompositeItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }
        $scope.loadCompositeItem();
    });
</script>