@{
    ViewBag.Title = "FG Item Opening File Read";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-12" ng-controller="fileReadCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resources.ResourceFileRead.ProductOpeningFileUpload
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>@Resources.ResourceFileRead.ProductCodeA</td>
                                    <td>@Resources.ResourceFileRead.GradeB</td>
                                    <td>@Resources.ResourceFileRead.LotC</td>
                                    <td>@Resources.ResourceFileRead.WarehouseD</td>
                                    <td>@Resources.ResourceFileRead.BinCardE</td>
                                </tr>
                                <tr>
                                    <td>@Resources.ResourceFileRead.QuantityF</td>
                                    <td>@Resources.ResourceFileRead.UnitG</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: 12px;">
                            @Resources.ResourceFileRead.FileUpload
                        </div>
                        <div class="panel-body" style="border: 1px solid #D9EDF7">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-horizontal">
                                    <form name="form" novalidate>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-3 control-label">
                                                    @Resources.ResourceFGItemOpening.LblOpeningDate
                                                </label>
                                                <div class="col-xs-12 col-sm-3">
                                                    <input type="text" class="form-control" ng-model="TopOpeningDate" name="TopOpeningDate" data-date-format="dd-MMM-yyyy" bs-datepicker
                                                           data-min-view="0" data-container="body" data-autoclose="true">
                                                </div>
                                                <div class="col-xs-12 col-sm-3">
                                                    <input type="text" class="form-control" ng-model="TopOpeningDate" name="TopOpeningDate" data-date-format="HH:mm:ss" bs-timepicker
                                                            data-min-view="0" data-container="body" data-autoclose="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-3 control-label">
                                                    @Resources.ResourceFileRead.LblSampleFile
                                                </label>
                                                <div class="col-xs-12 col-sm-9 ">
                                                    <input class="col-md-5" style="padding-left: 1px" type="file" ng-model="file" ng-disabled="NoConfig" file-model="myFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                                    <input type="button" ng-click="readFile()" class="btn btn-primary" value="@Resources.ResourceFileRead.ReadFile" />
                                                    <input type="button" ng-click="reset()" class="btn btn-default" value="@Resources.ResourceCommon.LblReset" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                        <form name="form.update" role="form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <span>{{messageModalObj.message}}</span>
                                </div>
                            </div>

                        </form>
                    </modal>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.directive('fileModel', ['$parse',
        function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;
                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }
    ]);

    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('fileReadService', ['$http', function ($http) {
        return {
            readFile: function (fileConfigId, openingDate, file) {
                var fdata = new FormData();
                var url = '/FileRead/ReadFGItemOpeningFile';
                fdata.append('config', fileConfigId);
                fdata.append('openingDate', openingDate);
                fdata.append('file', file);

                return $http.post(url, fdata, {
                    transformRequest: angular.identity,
                    headers: { 'Content-Type': undefined }
                });
            }
        };
    }]);

    function fileReadCtrl($scope, $timeout, $http, focus, $location, $anchorScroll, fileReadService, $log, $ngBootbox) {

        $scope.FileConfigId = $location.absUrl().split("/")[4] || "unknown";

        $scope.TopOpeningDate = new Date();
        $scope.NoConfig = false;

        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        $scope.showModalforSearch = false;

        // Add a new project
        $scope.readFile = function () {
            var file = $scope.myFile;
            var fileConfigId = $scope.FileConfigId;
            var openingDate = $scope.TopOpeningDate.toJSON();
            if (file == null) {
                $ngBootbox.alert("Please, choose a Excel file.");
                return;
            }
            fileReadService.readFile(fileConfigId, openingDate, file)
            .success(function (data) {
                $scope.messageModalObj.message = data;
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                $scope.reset();
            })
            .error(function (xhr) {
                $ngBootbox.alert('Error in saving data');
            });
        };

        $scope.reset = function () {
            $scope.myFile = '';
            $scope.TopOpeningDate = new Date();
            angular.element("input[type='file']").val(null);
        }
    }
</script>