
@{
    ViewBag.Title = "TestAngCountryIndex";
    //Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}


<div class="col-xs-12 col-sm-12" ng-controller="countryCtrlNew">
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceCountry.LblCountry</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>
                            <div class="form-group" show-errors>
                                <div class="padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> Code
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Id" ng-model="Id" required ng-maxlength="5" focus-on="focusMe" ng-disabled="desableIdField" />
                                    <b class="help-block" ng-if="form.Id.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, "Country Code")
                                    </b>

                                    <b class="help-block" ng-if="form.Id.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>
                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> Name
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Name" ng-model="Name" required ng-maxlength="50" focus-on="focusMe" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceCountry.LblCountry)
                                    </b>

                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>
                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> Dialing Code
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="CountryCode" ng-model="CountryCode" required ng-maxlength="50" />
                                    <b class="help-block" ng-if="form.CountryCode.$error.required">@string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceCountry.LblCountryCode)</b>
                                    <b class="help-block" ng-if="form.CountryCode.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addCountry()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave />
                                    <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceCountry.LblCountry @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green  pt pb">
            <div class="row mb">
                <div class="col-sm-8 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ allCountryFromDb.length}}</b> @Resources.ResourceCountry.LblTotalCountry
                    </div>
                </div>
                <div class="col-sm-4 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>
                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Code <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>Name <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>Dialing Code <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Code <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>Name <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>Dialing Code <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allCountryFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                <td>{{data.Id }}</td>
                                <td>{{data.Name }}</td>
                                <td>{{data.Code }}</td>

                                <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populateCountry(data)" /></td>
                                <td>
                                    <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm " ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                           ng-bootbox-confirm-action="deleteCountry(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceCountry.LblNoCountryFound
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //var app = angular.module('app', ['autocomplete', 'blockUI', 'ui.bootstrap', 'ngBootbox', 'mgcrea.ngStrap', 'ui.sortable', 'AngularPrint', 'multipleSelect', "ui.bootstrap.modal"]);

    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('countryService', ['$http', function ($http) {

        return {
            saveCountry: function (country) {
                return $http({
                    url: '/Country/CreateCountry',
                    method: 'POST',
                    data: country
                });
            },
            getCountry: function (id) {
                return $http.get('/Country/GetCountry/' + id);
            },
            getAllCountry: function () {
                return $http.get('/Country/GetCountryList');
            },
            deleteCountry: function (country) {
                return $http({
                    url: '/Country/DeleteCountry',
                    method: 'POST',
                    data: country
                });
            }
        };
    }]);

    app.controller('countryCtrlNew',
        function($scope, $timeout, $http, focus, $location, $anchorScroll, countryService, $log, $ngBootbox) {

            $scope.messageModalObj = {};
            $scope.messageModalObj.message = '';
            $scope.showModalforSearch = false;
            loadAllCountry();
            function loadAllCountry() {
                $scope.allCountryFromDb = [];
                countryService.getAllCountry()
                    .then(function onSuccess(response) {
                        $scope.allCountryFromDb = response.data;
                    }).catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
            }

            $scope.addCountry = function () {
                $scope.$broadcast('show-errors-check-validity');
                if ($scope.form.$valid) {
                    var country = {};
                    country["Id"] = $scope.Id;
                    country["Name"] = $scope.Name;
                    country["Code"] = $scope.CountryCode;

                    countryService.saveCountry(country)
                        .then(function onSuccess(response) {
                            loadAllCountry();
                            $scope.messageModalObj.message = response.data.message;
                            $scope.showModalforSearch = true;
                            $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                            $scope.reset();
                        }).catch(function onError(response) {
                            $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                        });
                }
            };
            $scope.selectedRow = null;
            $scope.populateCountry = function (rowvalue) {
                $scope.selectedRow = rowvalue;
                $scope.Id = rowvalue.Id;
                $scope.Name = rowvalue.Name;
                $scope.CountryCode = rowvalue.Code;
                $location.hash('searchDivId');
                $anchorScroll();
                focus('focusMe');
                $scope.desableIdField = true;
            }
            $scope.reset = function () {
                $scope.$broadcast('show-errors-reset');
                $scope.selectedRow = null;
                $scope.Id = '';
                $scope.Name = '';
                $scope.CountryCode = '';
            }

            $scope.deleteCountry = function (country) {
                countryService.deleteCountry(country)
                    .then(function onSuccess(response) {
                        $scope.messageModalObj.message = response.data.message;
                        $scope.showModalforSearch = true;
                        $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                        $scope.reset();
                        loadAllCountry();
                    }).catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
                    });
            }

            $scope.currentPage = 1; //current page
            $scope.entryLimit = "10"; //max no of items to display in a page
            $scope.filteredItems = $scope.allCountryFromDb.length; //Initially for no filter
            $scope.totalItems = $scope.allCountryFromDb.length;
            $scope.setPage = function (pageNo) {
                $scope.currentPage = pageNo;
            };
            $scope.filter = function () {
                $timeout(function () {
                    $scope.filteredItems = $scope.filtered.length;
                }, 9000);
            };
            $scope.sort_by = function (predicate) {
                $scope.predicate = predicate;
                $scope.reverse = !$scope.reverse;
            };
        });

</script>