
@{
    ViewBag.Title = "LCShipmentExpenseHead";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="col-xs-12 col-sm-12" ng-controller="lcshipmentexpenseheadCtrl">
    <div class="panel panel">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpensehead</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadcategory
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select data-ng-model="LCShipmentExpenseHeadCategoryId" class="form-control"
                                            data-ng-options="c.Id as c.HeadCategory for c in allLCSpipmentExpenseHeadCategoryFromDb | orderBy: 'Name'" name="LCShipmentExpenseHeadCategoryId" ng-required="true">
                                        <option value="">@Resources.ResourceLCShipmentExpenseHead.SelectCategory</option>
                                    </select>
                                    <b class="help-block" ng-if="form.LCShipmentExpenseHeadCategoryId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadcategory)
                                    </b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadname
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Head" ng-model="Head" required ng-maxlength="50" />
                                    <b class="help-block" ng-if="form.Head.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadname)
                                    </b>
                                    <b class="help-block" ng-if="form.Head.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addlcshipmentexpensehead()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave /> <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpensehead @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green pt pb">
            <div class="row mb">
                <div class="col-sm-9 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ alllcshipmentexpenseheadFromDb.length}}</b> @Resources.ResourceLCShipmentExpenseHead.Lbllhead
                    </div>
                </div>
                <div class="col-sm-3 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>

                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadcategory <a ng-click="sort_by('LCShipmentExpenseHeadCategoryId');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadname <a ng-click="sort_by('Head');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadcategory <a ng-click="sort_by('LCShipmentExpenseHeadCategoryId');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceLCShipmentExpenseHead.Lbllcshipmentexpenseheadname <a ng-click="sort_by('Head');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (alllcshipmentexpenseheadFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                @*| filter:{'Name':SearchText}:false|filter:{'CountryId':CountryId||undefined}:true| filter:{'DistrictId':DistrictId||undefined}:true|filter:{'AreaId':AreaId||undefined}:true | filter:{'Specializations':SpecializationId||undefined}:true*@
                               
                                <td>{{data.HeadCategory }}</td>
                                <td>{{data.Head }}</td>

                                <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populatelcshipmentexpensehead(data)" /></td>
                                <td>
                                    <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm" ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                           ng-bootbox-confirm-action="deletelcshipmentexpensehead(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceCountry.LblNoCountryFound
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('lcshipmentexpenseheadService', ['$http', function ($http) {

        return {
            savelcshipmentexpensehead: function (lcshipmentexpensehead) {
                return $http({
                    url: '/lcshipmentexpensehead/Createlcshipmentexpensehead',
                    method: 'POST',
                    data: lcshipmentexpensehead
                })
            },
            getlcshipmentexpensehead: function (id) {
                return $http.get('/lcshipmentexpensehead/Getlcshipmentexpensehead/' + id);
            },
            getAlllcshipmentexpensehead: function () {
                return $http.get('/lcshipmentexpensehead/GetlcshipmentexpenseheadList');
            },
            getAllLCShipmentExpenseHeadCategory: function () {
                return $http.get('/LCShipmentExpenseHeadCategory/GetLCShipmentExpenseHeadCategoryList');
            },
            deletelcshipmentexpensehead: function (lcshipmentexpensehead) {
                return $http({
                    url: '/lcshipmentexpensehead/Deletelcshipmentexpensehead',
                    method: 'POST',
                    data: lcshipmentexpensehead
                })
            }
        };
    }]);app.controller('lcshipmentexpenseheadCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, lcshipmentexpenseheadService, $log, $ngBootbox) {
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        loadAlllcshipmentexpensehead();
        $scope.showModalforSearch = false;
        // Add a new lcshipmentexpensehead
        $scope.addlcshipmentexpensehead = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var lcshipmentexpensehead = {};
                lcshipmentexpensehead["Id"] = $scope.Id;
                lcshipmentexpensehead["Head"] = $scope.Head;
                lcshipmentexpensehead["LCShipmentExpenseHeadCategoryId"] = $scope.LCShipmentExpenseHeadCategoryId;

                lcshipmentexpenseheadService.savelcshipmentexpensehead(lcshipmentexpensehead)
                .then(function onSuccess(response) {
                    loadAlllcshipmentexpensehead();
                    $scope.messageModalObj.message = response.data.message;
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    $scope.reset();

                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            }
        };
        // Populate lcshipmentexpensehead
        $scope.selectedRow = null;
        $scope.populatelcshipmentexpensehead = function (lcshipmentexpensehead) {
            $scope.selectedRow = lcshipmentexpensehead;
            $scope.Id = lcshipmentexpensehead.Id;
            $scope.Head = lcshipmentexpensehead.Head;
            $scope.LCShipmentExpenseHeadCategoryId = lcshipmentexpensehead.LCShipmentExpenseHeadCategoryId;
            $location.hash('searchDivId');
            $anchorScroll();
            focus('focusMe');
        }


        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.Id = '';
            $scope.Head = '';
            $scope.LCShipmentExpenseHeadCategoryId = '';
            $scope.selectedRow = null;
        }

        $scope.deletelcshipmentexpensehead = function (lcshipmentexpensehead) {
            lcshipmentexpenseheadService.deletelcshipmentexpensehead(lcshipmentexpensehead)
            .then(function onSuccess(response) {
                $scope.messageModalObj.message = response.data.message;
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                loadAlllcshipmentexpensehead();
            })
            .catch(function onError(response) {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
            });
        }
        // Load employee
        function loadAlllcshipmentexpensehead() {
            $scope.alllcshipmentexpenseheadFromDb = [];
            lcshipmentexpenseheadService.getAlllcshipmentexpensehead()
                .then(function onSuccess(response) {
                    $scope.alllcshipmentexpenseheadFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllLCShipmentExpenseHeadCategory();

        function loadAllLCShipmentExpenseHeadCategory() {
            $scope.allLCSpipmentExpenseHeadCategoryFromDb = [];
            lcshipmentexpenseheadService.getAllLCShipmentExpenseHeadCategory()
                .then(function onSuccess(response) {
                    $scope.allLCSpipmentExpenseHeadCategoryFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.currentPage = 1; //current page
        $scope.entryLimit = 10; //max no of items to display in a page
        $scope.filteredItems = $scope.alllcshipmentexpenseheadFromDb.length; //Initially for no filter
        $scope.totalItems = $scope.alllcshipmentexpenseheadFromDb.length;
        //$scope.maxSize = 15;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };
    });</script>



