@{
    ViewBag.Title = @Resources.ResourceModule.LblSubModuleItem;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}



<div class="col-xs-12 col-sm-12" ng-controller="subModuleItemCtrl">

    @* ************ FORM - SECTION (Start)*************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceModule.LblSubModuleItem</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceModule.LblModule
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select data-ng-model="ModuleId" class="form-control" ng-change="loadSubModuleByModuleId()"
                                            data-ng-options="c.Id as c.Name for c in allModuleFromDb | orderBy: 'Name'" name="ModuleId" ng-required="true">
                                        <option value="">Select Module</option>
                                    </select>
                                    <b class="help-block" ng-if="form.ModuleId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceModule.LblModule)
                                    </b>
                                </div>
                            </div>




                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceModule.LblSubModule
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select data-ng-model="SubModuleId" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in allSubModuleFromDb | orderBy: 'Name'" name="SubModuleId" ng-required="true">
                                        <option value="">Select Sub Module</option>
                                    </select>
                                    <b class="help-block" ng-if="form.SubModuleId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceModule.LblSubModule)
                                    </b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceModule.LblSubModuleItem
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Name" ng-model="Name" required ng-maxlength="100" focus-on="focusMe" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceModule.LblSubModuleItem)
                                    </b>


                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceModule.LblSubModuleItemUrlPath
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="UrlPath" ng-model="UrlPath" required ng-maxlength="250" focus-on="focusMe" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceModule.LblSubModuleItemUrlPath)
                                    </b>
                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceModule.LblOrdering
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="number" name="Ordering" ng-model="Ordering" min="0" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceModule.LblIsBaseItem
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="checkbox" ng-model="IsBaseItem" checked />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceModule.LblBaseItem
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select class="form-control" data-ng-model="BaseItemId" ng-disabled="IsBaseItem"
                                            data-ng-options="doc.Id as doc.NameFromResource for doc in allBaseSubModuleItemFromDb | orderBy:'NameFromResource'">
                                        <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceModule.LblSubModuleItem</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceModule.LblIsActive
                                    </label>
                                </div>
                                <div class="col-xs-3 col-sm-9 col-md-9 padding-left-zero">
                                    <div class="col-xs-12 col-sm-2 col-md-2">
                                        <input class="form-control" type="checkbox" ng-model="IsActive" checked />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addSubModuleItem()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave />
                                    <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ************ FORM - SECTION (End)*************** *@



    @* ************ POP-UP MODEL (Start)*************** *@
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    @* ************ POP-UP MODEL (End)*************** *@



    @* ************ TABLE - SECTION (Start)*************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceModule.LblSubModuleItem @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green  pt pb">
            <div class="row mb">
                <div class="col-sm-8 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ allSubModuleItemFromDb.length}}</b> @Resources.ResourceModule.LblTotalSubModuleItem
                    </div>
                </div>
                <div class="col-sm-4 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical text-right">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>

                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div class="">
                        <table class="table table-bordered slidable-table">
                            <thead>
                                <tr>
                                    <th>@Resources.ResourceModule.LblSubModuleItem <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblModule <a ng-click="sort_by('ModuleName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblSubModule <a ng-click="sort_by('SubModuleName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblSubModuleItemUrlPath </th>
                                    <th>@Resources.ResourceModule.LblOrdering </th>
                                    <th>@Resources.ResourceModule.LblBaseItem <a ng-click="sort_by('BaseItemName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblIsActive <a ng-click="sort_by('IsActive');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                   
                                    <th>@Resources.ResourceCommon.LblEdit </th>
                                    <th>@Resources.ResourceCommon.LblDelete </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>@Resources.ResourceModule.LblSubModuleItem <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblModule <a ng-click="sort_by('ModuleName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblSubModule <a ng-click="sort_by('SubModuleName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblSubModuleItemUrlPath </th>
                                    <th>@Resources.ResourceModule.LblOrdering </th>
                                    <th>@Resources.ResourceModule.LblBaseItem <a ng-click="sort_by('BaseItemName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceModule.LblIsActive <a ng-click="sort_by('IsActive');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>

                                    <th>@Resources.ResourceCommon.LblEdit </th>
                                    <th>@Resources.ResourceCommon.LblDelete </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allSubModuleItemFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">

                                    <td>{{data.Name }}</td>
                                    <td>{{data.ModuleName }}</td>
                                    <td>{{data.SubModuleName }}</td>
                                    <td>{{data.UrlPath }}</td>
                                    <td>{{data.Ordering }}</td>
                                    <td>{{data.BaseItemName }}</td>
                                    <td>{{data.IsActive }}</td>

                                    <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populateSubModuleItem(data)" /></td>
                                    <td>
                                        <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm" ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                               ng-bootbox-confirm-action="deleteSubModuleItem(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceModule.LblNoSubModuleItemFound
                </div>
            </div>
        </div>
    </div>
    @* ************ TABLE - SECTION (End)*************** *@

</div>




<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('subModuleItemService', ['$http', function ($http) {

        return {
            saveSubModuleItem: function (subModuleItem) {
                return $http({
                    url: '/SubModuleItem/CreateSubModuleItem',
                    method: 'POST',
                    data: subModuleItem
                })
            },
            getSubModuleItem: function (id) {
                return $http.get('/SubModuleItem/GetSubModuleItem/' + id);
            },
            getAllSubModuleItem: function () {
                return $http.get('/SubModuleItem/GetSubModuleItemList');
            },
            getAllBaseSubModuleItem: function () {
                return $http.get('/SubModuleItem/GetBaseSubModuleItemList');
            },
            getAllSubModule: function () {
                return $http.get('/SubModule/GetActiveSubModuleList');
            },
            //getAllStation: function () {
            //    return $http.get('/Station/GetStationList');
            //},
            getAllModule: function () {
                return $http.get('/Module/GetActiveModuleList');
            },
            deleteSubModuleItem: function (subModuleItem) {
                return $http({
                    url: '/SubModuleItem/DeleteSubModuleItem',
                    method: 'POST',
                    data: subModuleItem
                })
            },
            getAllSubModuleByModuleId: function (id) {
                return $http.get('/SubModule/GetOnlySubModuleByModuleId/' + id);
            },
        };
    }]);app.controller('subModuleItemCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, subModuleItemService, $log, $ngBootbox) {

        $scope.IsBaseItem = 0;
        $scope.loadSubModuleByModuleId = function () {
            $scope.allSubModuleFromDb = [];
            if ($scope.ModuleId == null || $scope.ModuleId == undefined) {
                return;
            }
            subModuleItemService.getAllSubModuleByModuleId($scope.ModuleId).then(function onSuccess(response) {
                $scope.allSubModuleFromDb = response.data;
            });
        }

        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        loadAllSubModuleItem();
        $scope.showModalforSearch = false;
        // Add a new subModuleItem
        $scope.addSubModuleItem = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var subModuleItem = {};
                subModuleItem["Id"] = $scope.Id;
                subModuleItem["Name"] = $scope.Name;
                subModuleItem["SubModuleId"] = $scope.SubModuleId;
                subModuleItem["StationId"] = $scope.StationId;
                subModuleItem["UrlPath"] = $scope.UrlPath;
                subModuleItem["Ordering"] = $scope.Ordering;
                subModuleItem["BaseItemId"] = $scope.BaseItemId;
                subModuleItem["IsBaseItem"] = $scope.IsBaseItem;
                subModuleItem["IsActive"] = $scope.IsActive;

                subModuleItemService.saveSubModuleItem(subModuleItem)
                .then(function onSuccess(response) {
                    loadAllSubModuleItem();
                    $scope.messageModalObj.message = response.data.message;
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    $scope.reset();

                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            }
        };
        // Populate subModuleItem
        $scope.selectedRow = null;
        $scope.populateSubModuleItem = function (subModuleItem) {
            $scope.selectedRow = subModuleItem;
            $scope.Id = subModuleItem.Id;
            $scope.Name = subModuleItem.Name;

            $scope.ModuleId = subModuleItem.ModuleId;
            $scope.loadSubModuleByModuleId();

            $scope.SubModuleId = subModuleItem.SubModuleId;
            $scope.UrlPath = subModuleItem.UrlPath;
            $scope.Ordering = subModuleItem.Ordering;
            $scope.IsActive = subModuleItem.IsActive;
            $scope.IsBaseItem = subModuleItem.IsBaseItem;
            $scope.BaseItemId = subModuleItem.BaseItemId;

            $location.hash('searchDivId');
            $anchorScroll();
            focus('focusMe');
        }

        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.Id = '';
            $scope.Name = '';
            $scope.SubModuleId = '';
            $scope.UrlPath = '';
            $scope.Ordering = '';
            $scope.BaseItemId = '';
            $scope.IsBaseItem = 0;
            $scope.IsActive = 0;
            $scope.selectedRow = null;
        }

        $scope.deleteSubModuleItem = function (subModuleItem) {
            subModuleItemService.deleteSubModuleItem(subModuleItem)
            .then(function onSuccess(response) {
                $scope.messageModalObj.message = response.data.message;
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                loadAllSubModuleItem();
            })
            .catch(function onError(response) {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
            });
        }

        function loadAllSubModuleItem() {
            $scope.allSubModuleItemFromDb = [];
            subModuleItemService.getAllSubModuleItem()
                .then(function onSuccess(response) {
                    $scope.allSubModuleItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllBaseSubModuleItem();
        function loadAllBaseSubModuleItem() {
            $scope.allBaseSubModuleItemFromDb = [];
            subModuleItemService.getAllSubModuleItem()
                .then(function onSuccess(response) {
                    $scope.allBaseSubModuleItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllSubModule();
        function loadAllSubModule() {
            $scope.allSubModuleFromDb = [];
            subModuleItemService.getAllSubModule()
                .then(function onSuccess(response) {
                    $scope.allSubModuleFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }
        loadAllModule();
        function loadAllModule() {
            $scope.allModuleFromDb = [];
            subModuleItemService.getAllModule()
                .then(function onSuccess(response) {
                    $scope.allModuleFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.currentPage = 1; //current page
        $scope.entryLimit = 10; //max no of items to display in a page
        $scope.filteredItems = $scope.allSubModuleItemFromDb.length; //Initially for no filter
        $scope.totalItems = $scope.allSubModuleItemFromDb.length;
        //$scope.maxSize = 15;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };
    });</script>