
@{
    ViewBag.Title = "Warehouse";
   // Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}



<div class="col-xs-12 col-sm-12" ng-controller="warehouseCtrl">

    @* ************ FORM - SECTION (Start) *************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceWarehouse.LblWarehouse</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>
                            <div class="form-group">
                                <div class="padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                     @Resources.ResourceWarehouse.LblCode
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Code" ng-model="Code" focus-on="focusMe" />
                                    
                                </div>
                            </div>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b>@Resources.ResourceWarehouse.LblName
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Name" ng-model="Name" required  focus-on="focusMe" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceWarehouse.LblWarehouse)
                                    </b>

                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                      @Resources.ResourceWarehouse.LblAddress
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Address" ng-model="Address" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addWarehouse()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave />
                                    <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ************ FORM - SECTION (End)*************** *@



    @* ************ POP-UP MODEL (Start)*************** *@
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    @* ************ POP-UP MODEL (End)*************** *@





    @* ************ TABLE - SECTION (Start)*************** *@

    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceWarehouse.LblWarehouse @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green  pt pb">
            <div class="row mb">
                <div class="col-sm-8 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ allWarehouseFromDb.length}}</b> @Resources.ResourceWarehouse.LblTotalWarehouse
                    </div>
                </div>
                <div class="col-sm-4 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>

                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Resources.ResourceWarehouse.LblCode <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceWarehouse.LblName <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceWarehouse.LblAddress <a ng-click="sort_by('Address');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>                                    
                                    <th>@Resources.ResourceCommon.LblEdit </th>
                                    <th>@Resources.ResourceCommon.LblDelete </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>@Resources.ResourceWarehouse.LblCode <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceWarehouse.LblName <a ng-click="sort_by('Code');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceWarehouse.LblAddress  <a ng-click="sort_by('Address');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                    <th>@Resources.ResourceCommon.LblEdit </th>
                                    <th>@Resources.ResourceCommon.LblDelete </th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allWarehouseFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                    @*| filter:{'Name':SearchText}:false|filter:{'WarehouseId':WarehouseId||undefined}:true| filter:{'DistrictId':DistrictId||undefined}:true|filter:{'AreaId':AreaId||undefined}:true | filter:{'Specializations':SpecializationId||undefined}:true*@
                                    <td>{{data.Code }}</td>
                                    <td>{{data.Name }}</td>
                                    <td>{{data.Address }}</td>

                                    <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populateWarehouse(data)" /></td>
                                    <td>
                                        <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm " ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                         ng-bootbox-confirm-action="deleteWarehouse(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceWarehouse.LblNoWarehouseFound
                </div>
            </div>
        </div>
    </div>
    @* ************ TABLE - SECTION (End)*************** *@

</div>


<script type="text/javascript">
    //var app = angular.module('app', ['autocomplete', 'blockUI', 'ui.bootstrap', 'ngBootbox', 'mgcrea.ngStrap', 'ui.sortable', 'AngularPrint', 'multipleSelect', "ui.bootstrap.modal"]);

    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('warehouseService', ['$http', function ($http) {

        return {
            saveWarehouse: function (warehouse) {
                return $http({
                    url: '/Warehouse/CreateWarehouse',
                    method: 'POST',
                    data: warehouse
                });
            },
            getWarehouse: function (id) {
                return $http.get('/Warehouse/GetWarehouse/' + id);
            },
            getAllWarehouse: function () {
                return $http.get('/Warehouse/GetWarehouseList');
            },
            deleteWarehouse: function (warehouse) {
                return $http({
                    url: '/Warehouse/DeleteWarehouse',
                    method: 'POST',
                    data: warehouse
                });
            }
        };
    }]);

    app.controller('warehouseCtrl',
        function($scope, $timeout, $http, focus, $location, $anchorScroll, warehouseService, $log, $ngBootbox) {

            $scope.messageModalObj = {};
            $scope.messageModalObj.message = '';
            $scope.showModalforSearch = false;
            loadAllWarehouse();
            function loadAllWarehouse() {
                $scope.allWarehouseFromDb = [];
                warehouseService.getAllWarehouse()
                    .then(function onSuccess(response) {
                        $scope.allWarehouseFromDb = response.data;
                    }).catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
            }

            $scope.addWarehouse = function () {
                $scope.$broadcast('show-errors-check-validity');
                if ($scope.form.$valid) {
                    var warehouse = {};
                    warehouse["Id"] = $scope.Id;
                    warehouse["Code"] = $scope.Code;
                    warehouse["Name"] = $scope.Name;
                    warehouse["Address"] = $scope.Address;

                    warehouseService.saveWarehouse(warehouse)
                        .then(function onSuccess(response) {
                            loadAllWarehouse();
                            $scope.messageModalObj.message = response.data.message;
                            $scope.showModalforSearch = true;
                            $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                            $scope.reset();
                        }).catch(function onError(response) {
                            $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                        });
                }
            };
            $scope.selectedRow = null;
            $scope.populateWarehouse = function (rowvalue) {
                $scope.selectedRow = rowvalue;
                $scope.Id = rowvalue.Id;
                $scope.Code = rowvalue.Code;
                $scope.Name = rowvalue.Name;
                $scope.Address = rowvalue.Address;
                $location.hash('searchDivId');
                $anchorScroll();
                focus('focusMe');
                $scope.desableIdField = true;
            }
            $scope.reset = function () {
                $scope.$broadcast('show-errors-reset');
                $scope.selectedRow = null;
                $scope.Id = '';
                $scope.Code = '';
                $scope.Name = '';
                $scope.Address = '';
            }

            $scope.deleteWarehouse = function (warehouse) {
                warehouseService.deleteWarehouse(warehouse)
                    .then(function onSuccess(response) {
                        $scope.messageModalObj.message = response.data.message;
                        $scope.showModalforSearch = true;
                        $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                        $scope.reset();
                        loadAllWarehouse();
                    }).catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
                    });
            }

            $scope.currentPage = 1; //current page
            $scope.entryLimit = "10"; //max no of items to display in a page
            $scope.filteredItems = $scope.allWarehouseFromDb.length; //Initially for no filter
            $scope.totalItems = $scope.allWarehouseFromDb.length;
            $scope.setPage = function (pageNo) {
                $scope.currentPage = pageNo;
            };
            $scope.filter = function () {
                $timeout(function () {
                    $scope.filteredItems = $scope.filtered.length;
                }, 9000);
            };
            $scope.sort_by = function (predicate) {
                $scope.predicate = predicate;
                $scope.reverse = !$scope.reverse;
            };
        });

</script>