@{
    ViewBag.Title = @Resources.ResourceInstrumentMaintenance.LblInstrumentMaintenance;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}




<div class="col-xs-12 col-sm-12" ng-controller="instrumentScheduleCtrl">

    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="row">
            @* ************ TABLE - SECTION (Start)*************** *@
            <div class="panel panel-default">
                <div class="panel-heading text-lg text-bold text-uppercase">
                    @Resources.ResourceInstrumentSchedule.LblInstrumentMaintenanceSummary
                </div>

                <div class="border-green  pt pb">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Resources.ResourceInstrumentSchedule.LblInstrument <a ng-click="sort_by('InstrumentName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName01}} <a ng-click="sort_by('CountMonth01');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName02}} <a ng-click="sort_by('CountMonth02');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName03}} <a ng-click="sort_by('CountMonth03');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName04}} <a ng-click="sort_by('CountMonth04');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName05}} <a ng-click="sort_by('CountMonth05');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            <th>{{MonthNames.MonthName06}} <a ng-click="sort_by('CountMonth06');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                            @*<th>{{MonthNames.MonthName07}} <a ng-click="sort_by('CountMonth07');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                                <th>{{MonthNames.MonthName08}} <a ng-click="sort_by('CountMonth08');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                                <th>{{MonthNames.MonthName09}} <a ng-click="sort_by('CountMonth09');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                                <th>{{MonthNames.MonthName10}} <a ng-click="sort_by('CountMonth10');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                                <th>{{MonthNames.MonthName11}} <a ng-click="sort_by('CountMonth11');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                                <th>{{MonthNames.MonthName12}} <a ng-click="sort_by('CountMonth12');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>*@

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (InstrumentSummaryReportViewModelList  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">

                                            <td>{{data.InstrumentName }}</td>
                                            <td>{{data.CountMonth01 }}</td>
                                            <td>{{data.CountMonth02 }}</td>
                                            <td>{{data.CountMonth03 }}</td>
                                            <td>{{data.CountMonth04 }}</td>
                                            <td>{{data.CountMonth05 }}</td>
                                            <td>{{data.CountMonth06 }}</td>
                                            @*<td>{{data.CountMonth07 }}</td>
                                                <td>{{data.CountMonth08 }}</td>
                                                <td>{{data.CountMonth09 }}</td>
                                                <td>{{data.CountMonth10 }}</td>
                                                <td>{{data.CountMonth11 }}</td>
                                                <td>{{data.CountMonth12 }}</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                            <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                                @Resources.ResourceInstrumentSchedule.LblNoInstrumentScheduleFound
                            </div>
                        </div>*@
                </div>
            </div>
            @* ************ TABLE - SECTION (End)*************** *@
        </div>

        @* ************ POP-UP MODEL (Start)*************** *@
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                    <form name="form.update" role="form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <span>{{messageModalObj.message}}</span>
                            </div>
                        </div>
                    </form>
                </modal>
            </div>
        </div>
        @* ************ POP-UP MODEL (End)*************** *@
    </div>





    <div class="col-xs-6 col-sm-6 col-md-6">
        @* ************ TABLE - SECTION (Start)*************** *@
        <div class="panel panel-default">
            <div class="panel-heading text-lg text-bold text-uppercase">
                @Resources.ResourceInstrumentSchedule.LblUpcomingMaintenance
                <a class="btn btn-sm btn-facebook pull-right " href="/InstrumentSchedule/CreateView">@Resources.ResourceCommon.LblCreateNew</a>
            </div>

            <div class="border-green  pt pb">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Resources.ResourceInstrumentSchedule.LblInstrument <a ng-click="sort_by('InstrumentName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblServiceDate <a ng-click="sort_by('ServiceDate');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblNextServiceDate <a ng-click="sort_by('NextServiceDate');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblInstrumentStatus <a ng-click="sort_by('InstrumentStatusName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>

                                        @*<th>@Resources.ResourceCommon.LblEdit </th>*@
                                        <th>@Resources.ResourceInstrumentMaintenance.LblMaintenance </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allInstrumentScheduleFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">

                                        <td>{{data.InstrumentName }}</td>
                                        <td>{{data.ServiceDate }}</td>
                                        <td>{{data.NextServiceDate }}</td>
                                        <td>{{data.InstrumentStatusName }}</td>

                                        @*<td><a class="btn btn-info btn-sm" href="/InstrumentSchedule/EditView?id={{data.Id}}&redirectPage=InstrumentScheduleList">@Resources.ResourceCommon.LblDetail</a></td>*@
                                        <td><a class="btn btn-info btn-sm" ng-show="{{data.IsActive }}" href="/InstrumentMaintenance/CreateMaintenanceView?id={{data.InstrumentId}}">@Resources.ResourceInstrumentMaintenance.LblMaintenance</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                    <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                        @Resources.ResourceInstrumentSchedule.LblNoInstrumentScheduleFound
                    </div>
                </div>
            </div>
        </div>
        @* ************ TABLE - SECTION (End)*************** *@

        @* ************ TABLE - SECTION (Start)*************** *@
        <div class="panel panel-default">
            <div class="panel-heading text-lg text-bold text-uppercase">
                @Resources.ResourceInstrumentSchedule.LblDueMaintenance
                <a class="btn btn-sm btn-facebook pull-right " href="/InstrumentSchedule/CreateView">@Resources.ResourceCommon.LblCreateNew</a>
            </div>

            <div class=" border-green  pt pb">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>@Resources.ResourceInstrumentSchedule.LblInstrument <a ng-click="sort_by('InstrumentName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblServiceDate <a ng-click="sort_by('ServiceDate');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblNextServiceDate <a ng-click="sort_by('NextServiceDate');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                        <th>@Resources.ResourceInstrumentSchedule.LblInstrumentStatus <a ng-click="sort_by('InstrumentStatusName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>

                                        @*<th>@Resources.ResourceCommon.LblEdit </th>*@
                                        <th>@Resources.ResourceInstrumentMaintenance.LblMaintenance </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allDueInstrumentScheduleFromDb  | orderBy : predicate :reverse) ">

                                        <td>{{data.InstrumentName }}</td>
                                        <td>{{data.ServiceDate }}</td>
                                        <td>{{data.NextServiceDate }}</td>
                                        <td>{{data.InstrumentStatusName }}</td>

                                        @*<td><a class="btn btn-info btn-sm" href="/InstrumentSchedule/EditView?id={{data.Id}}&redirectPage=InstrumentScheduleList">@Resources.ResourceCommon.LblDetail</a></td>*@
                                        <td><a class="btn btn-info btn-sm" ng-show="{{data.IsActive }}" href="/InstrumentMaintenance/CreateMaintenanceView?id={{data.InstrumentId}}">@Resources.ResourceInstrumentMaintenance.LblMaintenance</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                    <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                        @Resources.ResourceInstrumentSchedule.LblNoInstrumentScheduleFound
                    </div>
                </div>
            </div>
        </div>
        @* ************ TABLE - SECTION (End)*************** *@
    </div>
</div>




<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('instrumentScheduleService', ['$http', function ($http) {

        return {
            getAllInstrumentSchedule: function () {
                return $http.get('/InstrumentSchedule/GetUpcomingInstrumentScheduleList');
            },
            getAllDueInstrumentSchedule: function () {
                return $http.get('/InstrumentSchedule/GetDueInstrumentScheduleList');
            },
        };
    }]);

    app.controller('instrumentScheduleCtrl', function($scope, $timeout, $http, focus, $location, $anchorScroll, instrumentScheduleService, $log, $ngBootbox) {
        
        loadAllInstrumentSchedule();
        function loadAllInstrumentSchedule() {
            $scope.allInstrumentScheduleFromDb = [];
            instrumentScheduleService.getAllInstrumentSchedule()
                .then(function onSuccess(response) {
                    $scope.allInstrumentScheduleFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllDueInstrumentSchedule();
        function loadAllDueInstrumentSchedule() {
            $scope.allDueInstrumentScheduleFromDb = [];
            instrumentScheduleService.getAllDueInstrumentSchedule()
                .then(function onSuccess(response) {
                    $scope.allDueInstrumentScheduleFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.InstrumentSummaryReportViewModelList = [];
        var array = @Html.Raw(Json.Encode(@ViewBag.InstrumentSummaryReportViewModelList));
        for(var i = 0; i < array.length; i++) {
            $scope.InstrumentSummaryReportViewModelList[i] = array[i];
        }

        $scope.MonthNames = @Html.Raw(Json.Encode(@ViewBag.MonthNames));

        $scope.currentPage = 1; //current page
        $scope.entryLimit = 10; //max no of items to display in a page
        $scope.filteredItems = $scope.allInstrumentScheduleFromDb.length; //Initially for no filter
        $scope.totalItems = $scope.allInstrumentScheduleFromDb.length;
        //$scope.maxSize = 15;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };
    });

</script>