@using System
<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <script src="~/Scripts/angular.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script*@>
    <script src="~/Scripts/JsFile/common-directives.js"></script>
    <script src="~/Scripts/JsFile/angular-block-ui.js"></script>
    <script src="~/Scripts/JsFile/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="~/Scripts/JsFile/angular-base64-upload.js"></script>
    <script src="~/Scripts/JsFile/bootbox.js"></script>
    <script src="~/Scripts/JsFile/highcharts-ng.js"></script>
    <script src="~/Scripts/JsFile/ngBootbox.js"></script>
    <script src="~/Scripts/JsFile/sortable.js"></script>
    <script src="~/Scripts/jquery-2.2.2.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-strap.js"></script>
    <script src="~/Scripts/angular-strap.tpl.js"></script>
    <script src="~/Scripts/angular-strap.docs.tpl.js"></script>
    <script src="~/Scripts/JsFile/autocomplete.js"></script>

    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" />
    <link href="~/Content/angular-strap_styles_libs_min.css" rel="stylesheet" />
    <link href="~/Content/angular-block-ui.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-social.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/defaultStyle.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/multiple-select.js"></script>
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
    <link media="print" href="~/Content/angularPrint.css" rel="stylesheet" />
    <script src="~/Scripts/angularPrint.js"></script>
    <script src="~/Scripts/JsFile/ui-bootstrap-tpls-0.10.0.js"></script> 
    <script src="~/Scripts/JsFile/angular-ui-bootstrap-modal.js"></script>
    @* <<<<<< =========== new theme files (End) =============>>>>>>> *@
    <script type="text/javascript">
        app.factory('dashboardService', [
            '$http', function ($http) {
                return {
                    getAllModule: function () {
                        return $http.get('/Module/GetModuleList');
                    }
                };
            }
        ]);

        app.controller('adminViewCtrl', function ($scope, $http, dashboardService, $log, $ngBootbox) {
            LoadModules();
            function LoadModules() {
                $scope.allModuleFromDb = [];
                dashboardService.getAllModule()
                    .then(function onSuccess(response) {
                        //alert(response.data.length)
                        $scope.allModuleFromDb = response.data;
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('Error');
                    });
            }
        });
    </script>


    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @* ================  Top Navbar Start  ================= *@
    <div class="brand md-bodr-buttom">
        @*<a href="/Dashboard/ShowAdminPage/@Remit.Web.Helpers.UserSession.GetUserFromSession().Id" class="logo"><img src="../../Content/Images/logo.png" class="img-responsive" alt=""></a>*@
        <a href="/Dashboard/HomePage" class="logo"><img src="../../Content/Images/logo.png" class="img-responsive" alt=""></a>

        <div class="name-Section">
            @Resources.ResourceCommon.SiteTitle
        </div>


        <span class="menu-btn"><i class="fa fa-bars"></i></span>
        <ul class="ts-profile-nav">
            <li class="ts-account">
                <a href="#"><i class="fa fa-user ts-avatar" aria-hidden="true"></i> @Remit.Web.Helpers.UserSession.GetUserFullNameFromSession() <i class="fa fa-angle-down hidden-side"></i></a>
                <ul>
                    <li><a href="/Account/ViewChangePassword">@Resources.ResourceNewMenuView.mnuChangePassword</a></li>
                    @*<li><a href="#">Edit Account</a></li>*@
                    <li><a href="/Account/Logout">@Resources.ResourceNewMenuView.mnuLogout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    @* ================  Top Navbar End ================= *@


    <div class="ts-main-content" ng-controller="adminViewCtrl">
        <div class="dashboard-content-wrapper md-bodr-left md-bodr-right">
            <div class="row">
                <div class="col-md-3" style="padding-top: 15px;" ng-repeat="aModule in allModuleFromDb">
                    <a href="/Dashboard/Submodules/{{aModule.Id}}" role="button">
                        <div class="panel panel-default boxShadowDashboard">
                            <div class="panel-body bk-primary text-light  fixed-height-panel-with-icon text-center flex-center-vertically">
                                <div class="text-center">
                                    <i class="fa-5x module-image-padding mb" ng-class="aModule.ImageName"></i>
                                    <div class="stat-panel-title text-uppercase text-md submenuItemBStyle">{{aModule.NameFromResource}}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div>
        @RenderBody()
    </div>

    <div class="footer navbar-fixed-bottom">

        <div class="col-sm-6 col-md-7 padding-right-zero text-right">
            <p class="copyright-text pt-10">Copyright &copy; Accentech</p>
        </div>
        <div class="col-sm-6 col-md-5 text-right">
            <p class="developed-by-text pt-10">Developed By: <a href="http://accentechltd.com/">Accentech (Pvt.) limited</a></p>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>