<!DOCTYPE html>
<html ng-app="app" ng-controller="adminViewCtrl" ng-cloak lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>@ViewBag.Title</title>
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@
    <script src="../../Scripts/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    @*<script src="../../Scripts/jquery.pjax.js" type="text/javascript"></script>*@
    @*<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/Scripts/angular.js"></script>

    <script src="../../Scripts/xlsx.js"></script>

    <script src="../../Scripts/bootstrap-transition.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-alert.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-modal.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-scrollspy.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-collapse.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.11.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jqDnR.js" type="text/javascript"></script>
    @*<script src="../../Scripts/jqModal.js" type="text/javascript"></script>*@
    <script src="../../Scripts/handlebars-1.0.rc.1.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.nicescroll.min.js" type="text/javascript"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/HomePage.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jqModal.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/jquery.jqplot.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/normalize.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/common-directives.js"></script>
    <script src="~/Scripts/angucomplete-alt.js"></script>
    <script src="~/Scripts/JsFile/angular-block-ui.js"></script>
    <link href="~/Content/angular-block-ui.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.12/ng-file-upload-all.js"></script>

    @*For AngularPrint*@
    <!-- CSS -->
    <link href="~/Content/angularPrint.css" rel="stylesheet" />
    @*<link media="print" href="~/Content/angularPrint.css" rel="stylesheet" />*@
    <!-- JS -->
    <script src="~/Scripts/angularPrint.js"></script>


    <script src="~/Scripts/JsFile/AdminHighChart.js"></script>
    <script src="~/Scripts/JsFile/highcharts-ng.js"></script>

    <script src="~/Scripts/JsFile/bootbox.js"></script>
    <script src="~/Scripts/JsFile/ngBootbox.js"></script>


    <link href="~/Content/angular-strap_styles_libs_min.css" rel="stylesheet" />
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-strap.js"></script>
    <script src="~/Scripts/angular-strap.tpl.js"></script>
    <script src="~/Scripts/angular-strap.docs.tpl.js"></script>

    <script src="~/Scripts/JsFile/angular-base64-upload.js"></script>
    <link href="~/Content/Tabs.css" rel="stylesheet" />

    @*Custom styles for this template*@
    @*<link href="~/Content/Menu/style.css" rel="stylesheet" />*@
    <link href="~/Content/Menu/style-responsive.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/sortable.js"></script>
    <link href="~/Content/angucomplete-alt.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/autocomplete.js"></script>
    <script src="~/Scripts/bootstrap-tooltip.js"></script>

    @* <<<<<< =========== new theme files (Start) =============>>>>>>> *@
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/fileinput.min.css" rel="stylesheet" />
    <link href="~/Content/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/defaultStyle.css" rel="stylesheet" />
    <link rel="stylesheet" ng-href="~/Content/{{Layout}}.css">
    @*<link href="~/Content/style.css" rel="stylesheet" />*@
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/JsFile/multiple-select.js"></script>
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
    <link href="~/Content/progress-wizard.min.css" rel="stylesheet" />
    <script src="~/Scripts/JsFile/angular-ui-bootstrap-modal.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="../js/highcharts.js"></script>
    <script type="text/javascript">
        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',

                },
                title: {
                    text: ''
                },

                xAxis: [{
                    categories: @Html.Raw(Json.Encode(ViewData["namelist"]))
                    },
                {
                    title: {
                        text: 'Name of Items'
                    }
                }],
                yAxis: [{
                    title: {
                        text: 'Value'
                    }
                }],

                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },

                series: [{

                    showInLegend: false,


                }, {

                    showInLegend: false,
                } ,
                {

                    type: 'column',
                    name: "Quantity",
                    data: @Html.Raw(Json.Encode(ViewData["qtylist"])),
                },
                {
                    type: 'column',
                    name: "Reorder Level",
                    data: @Html.Raw(Json.Encode(ViewData["threslist"])),


                }

                ]

            });

        });
    </script>

    @Styles.Render("~/bundles/bower_component/css")
    @Scripts.Render("~/bundles/bower_component")

    <script type="text/javascript">
        var timerStart = Date.now();
    </script>

    @* <<<<<< =========== new theme files (End) =============>>>>>>> *@

    <style>
        .tooltip {
            z-index: 9999 !important;
            display: none;
            overflow-x: visible;
        }

        .tooltip-inner {
            font-size: 15px;
            background-color: rgb(0, 30, 78);
            z-index: 9999;
            height: 40px;
            line-height: 30px;
        }
    </style>

    <script type="text/javascript">

        //$(document)
        //  .ready(function() {

        //    $(".ts-sidebar-menu li a")
        //      .each(function() {
        //        if ($(this).next().length > 0) {
        //          $(this).addClass("parent");
        //        };
        //      });
        //    var menux = $('.ts-sidebar-menu li a.parent');
        //    $('<div class="more"><i class="fa fa-angle-down"></i></div>').insertBefore(menux);
        //    $('.more')
        //      .click(function() {
        //        $(this).parent('li').toggleClass('open');
        //      });
        //    $('.parent')
        //      .click(function(e) {
        //        e.preventDefault();
        //        $(this).parent('li').toggleClass('open');
        //      });
        //    $('.menu-btn')
        //      .click(function() {
        //        $('nav.ts-sidebar').toggleClass('menu-open');
        //      });


        //  });


        app.factory('dashboardService',
        [
          '$http', function($http) {
              return {
                  getAllModule: function() {
                      return $http.get('/Module/GetModuleList/');
                  }
              };
          }
        ]);

        app.controller('adminViewCtrl', function ($scope, $http, dashboardService, $log, $ngBootbox) {

            var modileIdForStyle = '@Session["selectedmoduleid"]';
            LoadModules();

            function LoadModules() {
                $scope.allModuleFromDb = [];
                dashboardService.getAllModule()
                  .then(function onSuccess(response) {
                      $scope.allModuleFromDb = response.data;
                  })
                  .catch(function onError(xhr) {
                      $ngBootbox.alert('Error');
                  });
            }


            changeStyle(modileIdForStyle);

            function changeStyle(moduleId) {
                switch (moduleId) {
                    case '1':
                        $scope.Layout = 'style';
                        break;
                    case '2':
                        $scope.Layout = 'style-Green';
                        break;
                    case '3':
                        $scope.Layout = 'style-red';
                        break;
                    case '4':
                        $scope.Layout = 'style-blue';
                        break;
                    case '5':
                        $scope.Layout = 'style-pink';
                        break;
                    case '6':
                        $scope.Layout = 'style-brown';
                        break;
                    case '7':
                        $scope.Layout = 'style-black';
                        break;
                    default:
                        $scope.Layout = 'style';
                        break;
                }


            }
        });

    </script>

</head>
<body id="body">
    @* ================   Top Navbar Start  ================= *@
    <div class="brand clearfix md-bodr-buttom">
        <a href="/Dashboard/HomePage" class="logo">
            <img src="../../Content/Images/logo.png" class="img-responsive" alt="">
        </a>

        <div class="name-Section">
            @Resources.ResourceCommon.SiteTitle
        </div>

        <div class="menu-btn">

            <div class="btn-group visible-xs visible-sm">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height:35px;">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-right home-menu-button" data-container="body">
                    <li>
                        <a href="/Dashboard/HomePage"> <i class="fa fa-home fa-2x"></i> Main Menu</a>
                    </li>
                    <li ng-repeat="aModule in allModuleFromDb">
                        <a href="/Dashboard/SubModules/{{aModule.Id}}">
                            <i ng-class="aModule.ImageName" class="fa-2x"></i> {{aModule.Name}}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="#" style="font-weight:bold;">
                            <i class="fa fa-user ts-avatar" aria-hidden="true"></i>
                            @if (Remit.Web.Helpers.UserSession.GetUserFromSession() != null)
                            {
                                @Remit.Web.Helpers.UserSession.GetUserFullNameFromSession()

                            }
                            else
                            {
                                <b>[Login]</b>
                            }

                        </a>
                    </li>
                    <li><a href="/Account/ViewChangePassword">Change Password</a></li>
                    @*<li><a href="#">Edit Account</a></li>*@
                    <li><a href="/Account/Logout">Logout</a></li>
                </ul>
            </div>


        </div>




        <ul class="nav navbar-nav ts-profile-nav">

            <li class="ts-account">
                <a href="#">
                    <i class="fa fa-user ts-avatar" aria-hidden="true"></i>
                    @if (Remit.Web.Helpers.UserSession.GetUserFromSession() != null)
                    {
                        @Remit.Web.Helpers.UserSession.GetUserFullNameFromSession()

                    }
                    else
                    {
                        <b>[Login]</b>
                    }
                    <i class="fa fa-angle-down hidden-side"></i>
                </a>
                <ul>
                    <li><a href="/Account/ViewChangePassword">@Resources.ResourceNewMenuView.mnuChangePassword</a></li>
                    @*<li><a href="#">Edit Account</a></li>*@
                    <li><a href="/Account/Logout">@Resources.ResourceNewMenuView.mnuLogout</a></li>
                </ul>
            </li>
        </ul>

    </div>

    @* ================   Top Navbar End  ==================== *@



    @* ================   Side Navbar Start  ==================== *@
    <div class="ts-main-content">
        <nav class="ts-sidebar hidden-xs hidden-sm">
            <ul class="ts-sidebar-menu menu">
                <li title="home" ng-class="{'menu-hover': '@Session["selectedmoduleid"]' == 99}">
                    @*<a href="/Dashboard/ShowAdminPage/@Remit.Web.Helpers.UserSession.GetUserFromSession().Id" class="home" data-tooltip title="Main Menu" data-placement="right">
                            <i class="fa fa-home fa-2x"></i>

                        </a>*@
                    <a href="/Dashboard/HomePage" class="home" data-tooltip title="Main Menu" data-placement="right" data-container="body">
                        <i class="fa fa-home fa-2x"></i>

                    </a>
                </li>


                <li class="menu-container" ng-repeat="aModule in allModuleFromDb"
                    ng-class="{'menu-hover': aModule.Id == '@Session["selectedmoduleid"]'}">
                    <a href="/Dashboard/SubModules/{{aModule.Id}}"
                       class="hvr-fade" data-tooltip title="{{aModule.Name}}" data-placement="right" data-container="body">
                        <i ng-class="aModule.ImageName" class="fa-2x"></i>
                    </a>
                </li>




                <!-- Account from above -->
                <ul class="ts-profile-nav">
                    <li class="ts-account">
                        <a href="#">
                            <i class="fa fa-user ts-avatar" aria-hidden="true"></i>
                            @if (Remit.Web.Helpers.UserSession.GetUserFromSession() != null)
                            {
                                @Remit.Web.Helpers.UserSession.GetUserFromSession().LoginName

                            }
                            else
                            {
                                <b>[Login]</b>
                            }
                            <i class="fa fa-angle-down hidden-side"></i>
                        </a>
                        <ul>
                            <li><a href="/Account/ViewChangePassword">@Resources.ResourceNewMenuView.mnuChangePassword</a></li>
                            @*<li><a href="#">Edit Account</a></li>*@
                            <li><a href="/Account/Logout">@Resources.ResourceNewMenuView.mnuLogout</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>
        @* ================   Side Navbar End  ==================== *@


        <div class="content-wrapper md-bodr-right">
            <div class="container-fluid pt mt-3x">
                @RenderBody()
            </div>
        </div>
    </div>

    @* ================   Footer Strat  ==================== *@
    <div class="footer navbar-fixed-bottom hidden-xs">

        <div class="col-sm-6 col-md-7 padding-right-zero text-right">
            <p class="copyright-text">Copyright &copy; Accentech</p>
        </div>
        <div class="col-sm-6 col-md-5 col-xs-12 text-right">
            <p class="developed-by-text">
                Developed By: <a href="http://accentechltd.com/">Accentech (Pvt.) limited</a>
            </p>
        </div>
    </div>


    <div class="footer navbar-fixed-bottom visible-xs">

        <div class="col-sm-6 col-md-7">
            <p class="copyright-text">Copyright &copy; <a href="http://accentechltd.com/">Accentech (Pvt.) limited</a></p>
        </div>
    </div>
    @* ================   Footer End  ==================== *@

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Time until DOMready: ", Date.now() - timerStart);
        });
        $(window).load(function () {
            console.log("Time until everything loaded: ", Date.now() - timerStart);
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle]').tooltip();
            $('input').on('focus',
                function(e) {
                    $(this)
                        .one('mouseup',
                            function() {
                                $(this).select();
                                return false;
                            })
                        .select();
                });
        });
    </script>

    <script src="~/Scripts/JsFile/Menu/jquery.nicescroll.js"></script>
    <script src="~/Scripts/JsFile/Menu/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/JsFile/Menu/jquery.ui.touch-punch.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>

</html>
