@using Remit.Web.Helpers

@{
    ViewBag.Title = Resources.ResourceReport.LblItemStockReport;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="row" ng-controller="rctrl">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resources.ResourceReport.LblItemStockReport
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <form name="form" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <div class=" padding-right-zero">
                                        <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                            @Resources.ResourceItemCategory.LblItemGroup
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                        <select data-ng-model="ItemGroupId" class="form-control" required
                                                data-ng-options="c.Id as c.Name for c in allItemGroupFromDb" name="ItemGroupId" ng-change="getCategory(ItemGroupId)">
                                            <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItemCategory.LblItemGroup</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class=" padding-right-zero">
                                        <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                            @Resources.ResourceCommon.LblCategory
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                        <select data-ng-model="ItemCategoryId" class="form-control" required
                                                data-ng-options="c.Id as c.Name for c in allCategoryFromDb" name="ItemCategoryId">
                                            <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceCommon.LblCategory</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                        <a class="btn btn-primary" target="_blank" href="~/RDLCReport/ItemInventory.aspx?&groupTypeId=@ViewBag.GroupType&groupId={{ItemGroupId}}&categoryId={{ItemCategoryId}}">@Resources.ResourceCommon.LblViewReport</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('rService', ['$http', function ($http) {
        return {
            getAllItemGroup: function (groupType) {
                if (groupType === "" || groupType === undefined || groupType === null) {
                    return $http.get('/ItemGroup/GetItemGroupListWithoutGroupType');
                } else {
                    return $http.get('/ItemGroup/GetItemGroupListWithGroupType?groupType=' + groupType);
                }
            },
            getAllCategoryByGroupId: function (id) {
                return $http.get('/ItemCategory/GetItemCategoryListByGroupId?id=' + id);
            },
        };
    }]);

    app.controller('rctrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, rService, $log, $ngBootbox) {
        $scope.getCategory = function (groupId) {
            $scope.allCategoryFromDb = [];
            if (groupId != null)
                rService.getAllCategoryByGroupId(groupId)
                .then(function onSuccess(response) {
                    $scope.allCategoryFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllItemGroup();
        function loadAllItemGroup() {
            $scope.allItemGroupFromDb = [];
            rService.getAllItemGroup(@ViewBag.GroupType)
                .then(function onSuccess(response) {
                    $scope.allItemGroupFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }
    });
</script>

