@using Remit.Web.Helpers

@{
    ViewBag.Title = Resources.ResourceReport.LblItemStockRegister;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="row" ng-controller="rctrl">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Resources.ResourceReport.LblItemStockRegister
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <form name="form" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group" show-errors>
                                    <div class=" padding-right-zero">
                                        <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                            @Resources.ResourceItemCategory.LblItemCategory
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                        <select data-ng-model="ItemCategoryId" class="form-control" required
                                                data-ng-options="c.Id as c.Name for c in allItemCategoryFromDb" name="ItemCategoryId" ng-change="getItem(ItemCategoryId)">
                                            <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItemCategory.LblItemCategory</option>
                                        </select>
                                        <b class="help-block" ng-if="form.ItemCategoryId.$error.required">
                                            @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceItemCategory.LblItemCategory)
                                        </b>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <div class=" padding-right-zero">
                                        <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                            @Resources.ResourceItem.LblItem
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                        <select data-ng-model="ItemId" class="form-control" required
                                                data-ng-options="c.Id as c.Name for c in allItemFromDb" name="ItemId">
                                            <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItem.LblItem</option>
                                        </select>
                                        <b class="help-block" ng-if="form.ItemId.$error.required">
                                            @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceItem.LblItem)
                                        </b>
                                    </div>
                                </div>
                                <div class="form-group" show-errors>
                                    <div class=" padding-right-zero">
                                        <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                            @Resources.ResourceCommon.LblMonthYear
                                        </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                        <input type="text" class="form-control" ng-model="YearMonth" name="YearMonth" data-date-format="MMM-yyyy" data-container="body" bs-datepicker data-min-view="1" data-autoclose="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                        <a class="btn btn-primary" ng-click="generateReport()" role="button">@Resources.ResourceCommon.LblViewReport</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('rService', ['$http', function ($http) {
        return {
            getAllItemCategory: function (groupType) {
                if (groupType === "" || groupType === undefined || groupType === null) {
                    return $http.get('/ItemCategory/GetItemCategoryListWithoutGroupType');
                } else {
                    return $http.get('/ItemCategory/GetItemCategoryListWithGroupType?groupType=' + groupType);
                }
            },
            getAllItemByCategoryId: function (id) {
                return $http.get('/Item/GetItemListByCategoryId?id=' + id);
            },
        };
    }]);

    app.controller('rctrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, rService, $log, $ngBootbox,$window) {
        $scope.YearMonth = new Date();

        $scope.getItem = function (categoryId) {
            $scope.allItemFromDb = [];
            if (categoryId != null)
                rService.getAllItemByCategoryId(categoryId)
                .then(function onSuccess(response) {
                    $scope.allItemFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllItemCategory();
        function loadAllItemCategory() {
            $scope.allItemCategoryFromDb = [];
            rService.getAllItemCategory(@ViewBag.GroupType)
                .then(function onSuccess(response) {
                    $scope.allItemCategoryFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.generateReport = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var year = $scope.YearMonth.getFullYear();
                var month = $scope.YearMonth.getMonth();

                var salesUnit = 0;
                var productType = 0;
                if ($scope.salesUnit != undefined && $scope.salesUnit != null && $scope.salesUnit != "") {
                    salesUnit = $scope.salesUnit;
                }

                if ($scope.productType != undefined && $scope.productType != null && $scope.productType != "") {
                    productType = $scope.productType;
                }

                var url = "/RDLCReport/ItemStockRegister.aspx?Year=" + year + "&Month=" + (month + 1) + "&itemId=" + $scope.ItemId + "&categoryId=" + $scope.ItemCategoryId + "";

                $window.open(url, '_blank');
            }
        };
    });
</script>
