@using Remit.Web.Helpers

@{
    ViewBag.Title = @Resources.ResourceFGItemAdjustment.Title;
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="col-xs-12 col-sm-12" ng-controller="fgItemAdjustmentCtrl">
    
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">
            @Resources.ResourceFGItemAdjustment.Title
        </div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-4 selector-container-div">
                    <div class="panel panel-default selector-container">
                        <div class="panel-body" style="padding: 0;">
                            <div class="form-group">
                                <label class="control-label">@Resources.ResourceCommon.LblMonthYear</label>
                                <input type="text" class="form-control" ng-model="selectedYear" name="selectedYear" data-date-format="MMM-yyyy" bs-datepicker
                                       data-min-view="1" data-autoclose="true" ng-change="loadAllFGItemAdjustmentList()" data-trigger="click">
                            </div>
                            <div class="form-group">
                                <label class="control-label">@Resources.ResourceFGItemAdjustment.AdjustmentList</label>
                                <div class="" style="height: 300px;">
                                    <select multiple data-ng-model="DateTime" class="form-control listSelect" focus-on="focusMe"
                                            data-ng-options="c as c.AdjustmentDateString  for c in allFGItemAdjustmentListByYearMonth" name="DateTime"
                                            style="height: 100%; overflow-y: auto; padding: 0;" ng-change="populateFGItemAdjustment(DateTime[0])">
                                        <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceCommon.LblDate</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-8 col-xs-8">
                    <div class="form-horizontal">
                        <form name="form" novalidate>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6" show-errors>
                                    <div class="form-group">
                                        <div class=" padding-right-zero">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color">
                                                <b class="starStyle">*</b> @Resources.ResourceFGItemAdjustment.AdjustmentDate
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <input type="text" class="form-control" ng-required="true" ng-model="AdjustmentDate" name="AdjustmentDate" data-date-format="dd-MMM-yyyy " bs-datepicker data-autoclose="1">
                                            <b class="help-block" ng-if="form.AdjustmentDate.$error.required">
                                                @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGItemAdjustment.AdjustmentDate)
                                            </b>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <input type="text" class="form-control" ng-model="AdjustmentDate" name="AdjustmentDate" bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group" show-errors ng-show="AuthorisedDone">
                                        <div class=" padding-right-zero">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color">
                                                <b class="starStyle"></b> @Resources.ResourceFGItemAdjustment.AuthorisedBy
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <select style="-webkit-appearance: none;" data-ng-model="AuthorisedBy" class="form-control" ng-required="false" ng-disabled="true"
                                                    data-ng-options="c.Id as c.FullName for c in allEmployeeFromDb | orderBy: 'FullName'" name="AuthorisedBy">
                                                <option value="">@Resources.ResourceCommon.LblSelect</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors ng-show="AuthorisedDone">
                                        <div class=" padding-right-zero">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color">
                                                <b class="starStyle"></b> @Resources.ResourceFGItemAdjustment.AuthorisedDate
                                            </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <input type="text" class="form-control" ng-required="false" ng-model="AuthorisedDate" name="AuthorisedDate" ng-disabled="true" data-date-format="dd-MMM-yyyy" bs-datepicker data-autoclose="1">
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <input type="text" class="form-control" ng-required="false" ng-model="AuthorisedDate" name="AuthorisedDate" ng-disabled="true" bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="heading">@Resources.ResourceFGItemAdjustment.FGItemAdjustmentDetails</h3>
                            <table class="table table-bordered slidable-table">
                                <thead>
                                    <tr>
                                        <th>@Resources.ResourceFGItemAdjustment.Type</th>
                                        <th>@Resources.ResourceFGItemAdjustment.FGItem</th>
                                        <th>@Resources.ResourceFGItemAdjustment.FGGrade</th>
                                        <th>@Resources.ResourceFGItemAdjustment.FGLot</th>
                                        <th>@Resources.ResourceFGItemAdjustment.Unit</th>
                                        <th>@Resources.ResourceFGItemAdjustment.BinCard</th>
                                        <th>@Resources.ResourceFGItemAdjustment.BinCardQty</th>
                                        <th>@Resources.ResourceFGItemAdjustment.ActualQuantity</th>
                                        <th>@Resources.ResourceFGItemAdjustment.AdjustmentReason</th>
                                        <th>@Resources.ResourceCommon.LblAction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="fgItemAdjustmentDet in FGItemAdjustmentDetails">
                                        <td>
                                            <select data-ng-model="fgItemAdjustmentDet.FGTypeId" class="form-control" style="width: 100px"
                                                    data-ng-options="c.Id as c.TypeName for c in allFGTypeFromDb | orderBy: 'Name'" name="FGTypeId" ng-change="getAllFGItemByTypeId($index,fgItemAdjustmentDet.FGTypeId)">
                                                <option value="">@Resources.ResourceCommon.LblSelect </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select data-ng-model="fgItemAdjustmentDet.FGItemId" class="form-control" ng-change="getItemInfo($index,fgItemAdjustmentDet.FGItemId)"
                                                    data-ng-options="c.Id as c.Code for c in fgItemAdjustmentDet.allItemFromDb | orderBy: 'Name'" name="FGItemId" style="width: 120px">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceProformaInvoice.LblItem</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select data-ng-model="fgItemAdjustmentDet.FGGradeId" class="form-control" style="width: 80px"
                                                    data-ng-options="c.Id as c.Grade for c in allFGGradeFromDb " name="FGGradeId" data-ng-change="getLotByGrade($index, fgItemAdjustmentDet.FGGradeId)">
                                                <option value="">@Resources.ResourceCommon.LblSelect</option>
                                            </select>
                                        </td>

                                        <td>
                                            <select data-ng-model="fgItemAdjustmentDet.Lot" class="form-control" style="width: 80px"
                                                    data-ng-options="c for c in fgItemAdjustmentDet.lotFromDB" name=" lot">
                                                <option value="">@Resources.ResourceCommon.LblSelect</option>
                                            </select>                                        
                                        </td>
                                        <td>
                                            <input data-ng-class="form-control" type="text" class="form-control" ng-disabled="true" style="width: 50px"
                                                   ng-model="fgItemAdjustmentDet.SalesUnit" name="SalesUnit">
                                        </td>
                                        <td>
                                            <select ng-model="fgItemAdjustmentDet.BinCardId" class="form-control" style="width: 120px"
                                                    data-ng-options="c.Id as c.WarhouseName+'-'+c.CardNo for c in allBinCardFromDb | orderBy: ['WarhouseName', 'CardNo']" name="BinCardId" data-ng-change="setBinQty($index, fgItemAdjustmentDet.BinCardId)">
                                                <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceItemReceive.LblBinCard</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input data-ng-class="form-control" style="text-align: right" type="number" class="form-control" ng-model="fgItemAdjustmentDet.InventoryQuantity" name="InventoryQuantity" readonly>
                                        </td>
                                        <td>
                                            <input data-ng-class="form-control" style="text-align: right; width: 100px" type="number" class="form-control" ng-model="fgItemAdjustmentDet.ActualQuantity" name="ActualQuantity" min="0">
                                        </td>
                                        <td>
                                            <input data-ng-class="form-control" type="text" class="form-control" ng-model="fgItemAdjustmentDet.AdjustmentReason" name="AdjustmentReason" style="width: 100px">
                                        </td>
                                        <td>
                                            <input type="button" class=" btn btn-danger" ng-click="FGItemAdjustmentDetails.splice($index, 1)" title="@Resources.ResourceCommon.MsgConfirmRemoveFromTheDetails" value="@Resources.ResourceCommon.LblRemove" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-2 padding-left-zero" ng-hide="AuthorisedDone">
                                <input type="button" class=" btn btn-block btn-sm btn-info buttonadditem" ng-click="addNewDetail($event)" value="@Resources.ResourceCommon.LblAddDetailItem" style="width: 100%;" />
                            </div>
                        </form>
                        <br /><br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div ng-hide="AuthorisedDone">
                                        <input type="button" ng-click="addFGItemAdjustment()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave />
                                        <input type="button" ng-click="Delete()" ng-show="editmode" class="btn btn-danger" value=@Resources.ResourceCommon.LblDelete />
                                        <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />

                                        <input ng-show="editmode" type="button" value=@Resources.ResourceCommon.LblApprove class="btn btn-success" ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Approve'
                                               ng-bootbox-confirm-action="approveAdjustment()" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                    </div>
                                    <input ng-show="AuthorisedDone" type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.directive('fileModel', ['$parse',
        function ($parse) {
            return {
                restrict: 'A',
                link: function (scope, element, attrs) {
                    var model = $parse(attrs.fileModel);
                    var modelSetter = model.assign;
                    element.bind('change', function () {
                        scope.$apply(function () {
                            modelSetter(scope, element[0].files[0]);
                        });
                    });
                }
            };
        }
    ]);
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('fgItemAdjustmentService', ['$http', function ($http) {
        return {
            saveFGItemAdjustment: function (fgItemAdjustment) {
                var params = { fgItemAdjustment: fgItemAdjustment }
                return $http({
                    url: '/FGItemAdjustment/CreateFGItemAdjustment',
                    method: 'POST',
                    type: "json",
                    data: JSON.stringify(params)
                });
            },
            approveAdjustment: function (fgItemAdjustment, fgItemAdjustmentList) {
                var params = { fgItemAdjustment: fgItemAdjustment, fgItemAdjustmentDetails: fgItemAdjustmentList }
                return $http({
                    url: '/FGItemAdjustment/ApproveAdjustment',
                    method: 'POST',
                    data: JSON.stringify(params)
                });
            },
            getAllEmployee: function () {
                return $http.get('/Employee/GetEmployeeList');
            },
            getAllFGItemByTypeId: function (id) {
                return $http.get('/FGItem/GetFGItemListByTypeId?id=' + id);
            },
            getAllFGType: function () {
                return $http.get('/FGType/GetFGTypeList');
            },
            getAllFGGrade: function () {
                return $http.get('/FGGrade/GetFGGradeList');
            },
            getAllBinCard: function () {
                return $http.get('/BinCard/GetBinCardList');
            },
            getFGItemAdjustmentListByYearMonth: function (year, month) {
                return $http.get('/FGItemAdjustment/GetAdjustmentListByYear', { params: { year: year, month: month + 1 } });
            },
            getFGItemAdjustment: function (id) {
                return $http.get('/FGItemAdjustment/GetFGItemAdjustment?id=' + id);
            },
            getBinCardQty: function (fgItemId, fgGradeId, bincardId, lot, salesUnit) {
                return $http.get('/FGItemAdjustment/GetQtyFromFgInventory', { params: { fgItemId: fgItemId, fgGradeId: fgGradeId, bincardId: bincardId, lot: lot, salesUnit: salesUnit } });
            },
            getLotByGrade: function (fgItemId, fgGradeId) {
                return $http.get('/FGItemAdjustment/GetLotFromFgInventory', { params: { fgItemId: fgItemId, fgGradeId: fgGradeId } });
            },
            deleteFGItemAdjustment: function (id) {
                return $http({
                    url: '/FGItemAdjustment/DeleteFGItemAdjustment?id=' + id,
                    method: 'POST',
                    data: id
                });
            },
        };
    }]);

    app.controller('fgItemAdjustmentCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, fgItemAdjustmentService, $log, $ngBootbox, $filter) {
        $scope.selectedYear = new Date();
        $scope.AdjustmentDate = new Date();
       
        $scope.AuthorisedDone = false;
        $scope.editmode = false;
        $scope.notApprovemode = true;

        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        $scope.showModalforSearch = false;
        $scope.selectedRow = null;

        $scope.FGItemAdjustmentDetails = [];
        $scope.FGItemAdjustmentDetails.push({ Id: '', FGItemId: null, FGGradeId: null, Lot: '', InventoryQuantity: '', ActualQuantity: '', SalesUnitId: '', BinCardId: null, AdjustmentReason: '' });
        $scope.addNewDetail = function ($event) {
            $scope.FGItemAdjustmentDetails.push({ Id: '', FGItemId: null, FGGradeId: null, Lot: '', InventoryQuantity: '', ActualQuantity: '', SalesUnitId: '', BinCardId: null, AdjustmentReason: '' });
        }

        //Approve adjustment.....
        $scope.approveAdjustment = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var fgItemAdjustment = {};
                fgItemAdjustment["Id"] = $scope.Id;
               
                fgItemAdjustment["FGItemAdjustmentDetails"] = $scope.FGItemAdjustmentDetails;
                var FGItemAdjustmentDetails = $scope.FGItemAdjustmentDetails;

                if ($scope.FGItemAdjustmentDetails != null && $scope.FGItemAdjustmentDetails !== "") {
                    if ($scope.FGItemAdjustmentDetails.length > 0) {
                        for (var i = 0; i < $scope.FGItemAdjustmentDetails.length; i++) {
                            if ($scope.FGItemAdjustmentDetails[i].FGItemId !== undefined && $scope.FGItemAdjustmentDetails[i].FGItemId !== null && $scope.FGItemAdjustmentDetails[i].FGItemId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceItemDemand.ItemRequired');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].FGGradeId !== undefined && $scope.FGItemAdjustmentDetails[i].FGGradeId !== null && $scope.FGItemAdjustmentDetails[i].FGGradeId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.GradeReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].Lot !== undefined && $scope.FGItemAdjustmentDetails[i].Lot !== null && $scope.FGItemAdjustmentDetails[i].Lot !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.LotReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].ActualQuantity !== undefined && $scope.FGItemAdjustmentDetails[i].ActualQuantity !== null && $scope.FGItemAdjustmentDetails[i].ActualQuantity !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.QtyReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].SalesUnitId !== undefined && $scope.FGItemAdjustmentDetails[i].SalesUnitId !== null && $scope.FGItemAdjustmentDetails[i].SalesUnitId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.UnitReq');
                                return;
                            }
                        }
                    } else {
                        $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.NeedFGItemAdjustmentDetails');
                        return;
                    }
                } else {
                    $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.NeedFGItemAdjustmentDetails');
                    return;
                }

                fgItemAdjustmentService.approveAdjustment(fgItemAdjustment, FGItemAdjustmentDetails)
                    .then(function onSuccess(response) {
                        $scope.messageModalObj.message = response.data.message;
                        $scope.showModalforSearch = true;
                        $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                        $scope.reset();                        
                        $scope.loadAllFGItemAdjustmentList();
                    });
            }
        };

        $scope.addFGItemAdjustment = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var fgItemAdjustment = {};
                fgItemAdjustment["Id"] = $scope.Id;
                fgItemAdjustment["AdjustmentDate"] = $scope.AdjustmentDate;
                fgItemAdjustment["FGItemAdjustmentDetails"] = $scope.FGItemAdjustmentDetails;

                if ($scope.FGItemAdjustmentDetails != null && $scope.FGItemAdjustmentDetails !== "") {
                    if ($scope.FGItemAdjustmentDetails.length > 0) {
                        for (var i = 0; i < $scope.FGItemAdjustmentDetails.length; i++) {
                            if ($scope.FGItemAdjustmentDetails[i].FGItemId !== undefined && $scope.FGItemAdjustmentDetails[i].FGItemId !== null && $scope.FGItemAdjustmentDetails[i].FGItemId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.ItemRequired');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].FGGradeId !== undefined && $scope.FGItemAdjustmentDetails[i].FGGradeId !== null && $scope.FGItemAdjustmentDetails[i].FGGradeId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.GradeReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].Lot !== undefined && $scope.FGItemAdjustmentDetails[i].Lot !== null && $scope.FGItemAdjustmentDetails[i].Lot !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.LotReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].ActualQuantity !== undefined && $scope.FGItemAdjustmentDetails[i].ActualQuantity !== null && $scope.FGItemAdjustmentDetails[i].ActualQuantity !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.QtyReq');
                                return;
                            }
                            if ($scope.FGItemAdjustmentDetails[i].SalesUnitId !== undefined && $scope.FGItemAdjustmentDetails[i].SalesUnitId !== null && $scope.FGItemAdjustmentDetails[i].SalesUnitId !== "") {
                            } else {
                                $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.UnitReq');
                                return;
                            }
                        }
                    } else {
                        $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.NeedFGItemAdjustmentDetails');
                        return;
                    }
                } else {
                    $ngBootbox.alert('@Resources.ResourceFGItemAdjustment.NeedFGItemAdjustmentDetails');
                    return;
                }

                fgItemAdjustmentService.saveFGItemAdjustment(fgItemAdjustment).then(
                    function onSuccess(response) {
                        $scope.messageModalObj.message = response.data.message;
                        $scope.showModalforSearch = true;
                        $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                        $scope.reset();
                        $scope.loadAllFGItemAdjustmentList();

                    }).catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                    });
            } else {
                $ngBootbox.alert('@Resources.ResourceLCShipment.FillRequiredData');
            }
        }

        $scope.Delete = function () {
            if ($scope.Id !== undefined && $scope.Id !== null && $scope.Id !== "") {
                fgItemAdjustmentService.deleteFGItemAdjustment($scope.Id).then(function onSuccess(response) {
                    if (response.data.isSuccess === true) {
                        $ngBootbox.alert(response.data.message);
                        $scope.reset();
                        $scope.loadAllFGItemAdjustmentList();
                    } else {
                        $ngBootbox.alert(response.data.message);
                    }
                }).catch(function onError(xhr) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            } else {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
                return;
            }
        }

        $scope.getLotByGrade = function (index, fgGradeId) {
            $scope.FGItemId = $scope.FGItemAdjustmentDetails[index].FGItemId;
            $scope.FGGradeId = fgGradeId;
            if (fgGradeId != null && fgGradeId != undefined && fgGradeId !== "") {
                fgItemAdjustmentService.getLotByGrade($scope.FGItemId, $scope.FGGradeId).then(function onSuccess(response) {
                    $scope.FGItemAdjustmentDetails[index].lotFromDB = response.data;
                });
            } else {
                $scope.FGItemAdjustmentDetails[index].lotFromDB = [];
            }
            
        }

        $scope.setBinQty = function (index, binCardId) {
            $scope.FGItemId = $scope.FGItemAdjustmentDetails[index].FGItemId;
            $scope.FGGradeId = $scope.FGItemAdjustmentDetails[index].FGGradeId;
            $scope.BinCardId = binCardId;
            $scope.Lot = $scope.FGItemAdjustmentDetails[index].Lot;
            $scope.SalesUnit = $scope.FGItemAdjustmentDetails[index].SalesUnit;

            fgItemAdjustmentService.getBinCardQty($scope.FGItemId, $scope.FGGradeId, $scope.BinCardId, $scope.Lot, $scope.SalesUnit).then(function onSuccess(response) {
                $scope.FGItemAdjustmentDetails[index].InventoryQuantity = response.data;
            });
        }

        $scope.populateFGItemAdjustment = function (rowvalue) {
            $scope.selectedRow = rowvalue;
            $scope.editmode = true;
            $scope.Id = rowvalue.Id;
            $scope.AdjustmentDate = new Date(rowvalue.AdjustmentDateString);
            if (rowvalue.AuthorisedDateString != null) {
                $scope.AuthorisedDate = rowvalue.AuthorisedDateString;
            }
            if (rowvalue.AuthorisedBy != null && rowvalue.AuthorisedBy !== 0) {
                $scope.AuthorisedBy = rowvalue.AuthorisedBy;
                $scope.AuthorisedDone = true;
            } else {
                $scope.AuthorisedDone = false;
            }
             
            $scope.FGItemAdjustmentDetails = rowvalue.FGItemAdjustmentDetails;
           
            for (x in rowvalue.FGItemAdjustmentDetails) {
                $scope.getAllFGItemByTypeIdwhenPopulate(x, rowvalue.FGItemAdjustmentDetails[x].FGTypeId);
                $scope.getLotByGrade(x, rowvalue.FGItemAdjustmentDetails[x].FGGradeId);
            }
            if ($scope.FGItemAdjustmentDetails.length < 1) {
                $scope.FGItemAdjustmentDetails = [];
                $scope.FGItemAdjustmentDetails.push({ Id: '', FGItemId: null, FGGradeId: null, Lot: '', InventoryQuantity: '', ActualQuantity: '', SalesUnitId: '', BinCardId: null, AdjustmentReason: '' });
            }
        }

        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.Id = '';
            $scope.editmode = false;
            $scope.AuthorisedDone = false;
            $scope.AdjustmentDate = new Date();
            $scope.AuthorisedDate = new Date();
            $scope.FGItemAdjustmentDetails = [];
            $scope.FGItemAdjustmentDetails.push({ Id: '', FGItemId: null, FGGradeId: null, Lot: '', InventoryQuantity: '', ActualQuantity: '', SalesUnitId: '', BinCardId: null, AdjustmentReason: '' });
            $scope.DateTime = null;
        }

        $scope.loadAllFGItemAdjustmentList = function () {
            var year = $scope.selectedYear;
            var month = year.getMonth();
            $scope.allFGItemAdjustmentListByYearMonth = [];
            year = year.getFullYear();

            fgItemAdjustmentService.getFGItemAdjustmentListByYearMonth(year, month).then(function onSuccess(response) {
                $scope.allFGItemAdjustmentListByYearMonth = response.data;
            }).catch(function onError(xhr) {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
            });
        }
        $scope.loadAllFGItemAdjustmentList();

        $scope.getAllFGItemByTypeId = function (index, typeId) {
            $scope.FGItemAdjustmentDetails[index].allItemFromDb = [];
            $scope.FGItemAdjustmentDetails[index].PackUnit = '';
            $scope.FGItemAdjustmentDetails[index].SalesUnitId = '';
            if (typeId != null)
                fgItemAdjustmentService.getAllFGItemByTypeId(typeId)
                    .then(function onSuccess(response) {
                        $scope.FGItemAdjustmentDetails[index].allItemFromDb = response.data;
                    }).catch(function onError(xhr) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
        }

        $scope.getAllFGItemByTypeIdwhenPopulate = function (index, typeId) {
            $scope.FGItemAdjustmentDetails[index].allItemFromDb = [];
            if (typeId != null)
                fgItemAdjustmentService.getAllFGItemByTypeId(typeId)
                    .then(function onSuccess(response) {
                        $scope.FGItemAdjustmentDetails[index].allItemFromDb = response.data;
                    }).catch(function onError(xhr) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
        }

        $scope.getItemInfo = function (index, fgItemId) {
            $scope.FGItemAdjustmentDetails[index].SalesUnitId = '';
            $scope.FGItemAdjustmentDetails[index].PackUnit = '';
            if (fgItemId != null)
                angular.forEach($scope.FGItemAdjustmentDetails[index].allItemFromDb,
                    function (value, key) {
                        if (value.Id === fgItemId) {
                            $scope.FGItemAdjustmentDetails[index].SalesUnit = value.PackUnit;
                            $scope.FGItemAdjustmentDetails[index].SalesUnitId = value.PackUnitId;
                        }
                    });
        }

        loadAllFgType();
        function loadAllFgType() {
            $scope.allFGTypeFromDb = [];
            fgItemAdjustmentService.getAllFGType()
                .then(function onSuccess(response) {
                    $scope.allFGTypeFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllFgGrade();
        function loadAllFgGrade() {
            $scope.allFGGradeFromDb = [];
            fgItemAdjustmentService.getAllFGGrade()
                .then(function onSuccess(response1) {
                    $scope.allFGGradeFromDb = response1.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllBinCard();
        function loadAllBinCard() {
            $scope.allBinCardFromDb = [];
            fgItemAdjustmentService.getAllBinCard()
                .then(function onSuccess(response) {
                    $scope.allBinCardFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        $scope.loadAllEmployee = function () {
            $scope.allEmployeeFromDb = [];
            fgItemAdjustmentService.getAllEmployee()
                .then(function onSuccess(response) {
                    $scope.allEmployeeFromDb = response.data;                   
                })
                .catch(function (xhr) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }
        $scope.loadAllEmployee();
    });
</script>