
@{
    ViewBag.Title = "Branch";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="col-xs-12 col-sm-12" ng-controller="branchCtrl">
    <div class="panel panel">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceBranch.LblBranch</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-horizontal">
                        <form name="form" novalidate>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceCountry.LblCountry
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select data-ng-model="CountryId" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in allCountryFromDb | orderBy: 'Name'" name="CountryId" ng-required="true">
                                        <option value="">@Resources.ResourceBranch.SelectCountry</option>
                                    </select>
                                    <b class="help-block" ng-if="form.CountryId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceCountry.LblCountry)
                                    </b>
                                </div>
                            </div>


                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceBranch.LblBank
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <select data-ng-model="BankId" class="form-control"
                                            data-ng-options="b.Id as b.Name for b in allBankFromDb | orderBy: 'Name'" name="BankId" ng-required="true">
                                        <option value="">@Resources.ResourceBankAccount.SelectBank</option>
                                    </select>
                                    <b class="help-block" ng-if="form.BankId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceBank.LblBank)
                                    </b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceBranch.LblName
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Name" ng-model="Name" required ng-maxlength="50" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceBranch.LblBranch)
                                    </b>
                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceBranch.LblAddress
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Address" ng-model="Address"  ng-maxlength="50" />
                                    
                                    <b class="help-block" ng-if="form.Address.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                         @Resources.ResourceBranch.LblPhone
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Phone" ng-model="Phone"  ng-maxlength="50" />
                                    
                                    <b class="help-block" ng-if="form.Phone.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceBranch.LblEmail
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5">
                                    <input class="form-control" type="text" name="Email"  ng-model="Email"  ng-maxlength="50" />
                                    
                                    <b class="help-block" ng-if="form.Email.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addBranch()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave /> <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceBranch.LblBranch @Resources.ResourceCommon.lblList</div>
        <div class="panel-body border-green pt pb">
            <div class="row mb">
                <div class="col-sm-9 padding-left-zero">
                    <div class="col-sm-4">
                        <input type="text" ng-model="SearchText" placeholder='@Resources.ResourceCommon.TextBoxSearch_Watermark' class="form-control" />
                    </div>
                    <div class="col-sm-8 text-center-vertical">
                        @Resources.ResourceCommon.lblFiltered <b>{{ filtered.length }}</b> of <b>{{ allBranchFromDb.length}}</b> @Resources.ResourceBranch.LblBranch
                    </div>
                </div>
                <div class="col-sm-3 padding-right-zero">
                    <div class="col-sm-6 text-center-vertical">
                        <label>@Resources.ResourceCommon.lblPageSize:</label>
                    </div>

                    <div class="col-sm-6">
                        <select ng-model="entryLimit" class="form-control">
                            <option>3</option>
                            <option>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>@Resources.ResourceCountry.LblCountry <a ng-click="sort_by('CountryName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblBank <a ng-click="sort_by('BankName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblName <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblAddress <a ng-click="sort_by('Address');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblPhone <a ng-click="sort_by('Phone');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblEmail <a ng-click="sort_by('Email');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>

                                <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Resources.ResourceCountry.LblCountry <a ng-click="sort_by('CountryName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblBank <a ng-click="sort_by('BankName');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblName <a ng-click="sort_by('Name');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblAddress <a ng-click="sort_by('Address');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblPhone <a ng-click="sort_by('Phone');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
                                <th>@Resources.ResourceBranch.LblEmail <a ng-click="sort_by('Email');"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>

                                 <th>@Resources.ResourceCommon.LblEdit </th>
                                <th>@Resources.ResourceCommon.LblDelete </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-class="{'selected':data == selectedRow}" ng-repeat="data in filtered = (allBranchFromDb  | filter:SearchText | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                @*| filter:{'Name':SearchText}:false|filter:{'CountryId':CountryId||undefined}:true| filter:{'DistrictId':DistrictId||undefined}:true|filter:{'AreaId':AreaId||undefined}:true | filter:{'Specializations':SpecializationId||undefined}:true*@
                                <td>{{data.CountryName }}</td>
                                <td>{{data.BankName }}</td>
                                <td>{{data.Name }}</td>
                                <td>{{data.Address }}</td>
                                <td>{{data.Phone }}</td>
                                <td>{{data.Email }}</td>
                                

                                <td><input type="button" value=@Resources.ResourceCommon.LblEdit class="btn btn-info btn-sm" ng-click="populateBranch(data)" /></td>
                                <td>
                                    <input type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger btn-sm" ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                           ng-bootbox-confirm-action="deleteBranch(data)" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length > 0">
                    <div pagination="" max-size="15" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filtered.length" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="filtered.length == 0">
                <div class="col-xs-12 col-sm-12 col-md-12 alert alert-danger">
                    @Resources.ResourceCountry.LblNoCountryFound
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('branchService', ['$http', function ($http) {

        return {
            saveBranch: function (branch) {
                return $http({
                    url: '/Branch/CreateBranch',
                    method: 'POST',
                    data: branch
                })
            },
            getBranch: function (id) {
                return $http.get('/Branch/GetBranch/' + id);
            },
            getAllBranch: function () {
                return $http.get('/Branch/GetBranchList');
            },
            getAllCountry: function () {
                return $http.get('/Country/GetCountryList');
            },
            getAllBank: function () {
                return $http.get('/Bank/GetBankList');
            },
            deleteBranch: function (branch) {
                return $http({
                    url: '/Branch/DeleteBranch',
                    method: 'POST',
                    data: branch
                })
            }
        };
    }]);app.controller('branchCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, branchService, $log, $ngBootbox) {
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        loadAllBranch();
        $scope.showModalforSearch = false;
        // Add a new branch
        $scope.addBranch = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var branch = {};
                branch["Id"] = $scope.Id;
                branch["Name"] = $scope.Name;
                branch["Address"] = $scope.Address;
                branch["Phone"] = $scope.Phone;
                branch["Email"] = $scope.Email;
                branch["CountryId"] = $scope.CountryId;
                branch["BankId"] = $scope.BankId;

                branchService.saveBranch(branch)
                .then(function onSuccess(response) {
                    loadAllBranch();
                    $scope.messageModalObj.message = response.data.message;
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    $scope.reset();

                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            }
        };
        // Populate branch
        $scope.selectedRow = null;
        $scope.populateBranch = function (branch) {
            $scope.selectedRow = branch;
            $scope.Id = branch.Id;
            $scope.Name = branch.Name;
            $scope.Address = branch.Address;
            $scope.Phone = branch.Phone;
            $scope.Email = branch.Email;
            $scope.CountryId = branch.CountryId;
            $scope.BankId = branch.BankId;
            $location.hash('searchDivId');
            $anchorScroll();
            focus('focusMe');
        }


        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.Id = '';
            $scope.Name = '';
            $scope.Address = '';
            $scope.Phone = '';
            $scope.Email = '';
            $scope.CountryId = '';
            $scope.BankId = '';
            $scope.selectedRow = null;
        }

        $scope.deleteBranch = function (branch) {
            branchService.deleteBranch(branch)
            .then(function onSuccess(response) {
                $scope.messageModalObj.message = response.data.message;
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                loadAllBranch();
            })
            .catch(function onError(response) {
                $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
            });
        }
        // Load employee
        function loadAllBranch() {
            $scope.allBranchFromDb = [];
            branchService.getAllBranch()
                .then(function onSuccess(response) {
                    $scope.allBranchFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }
        loadAllCountry();
        function loadAllCountry() {
            $scope.allCountryFromDb = [];
            branchService.getAllCountry()
                .then(function onSuccess(response) {
                    $scope.allCountryFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllBank();
        function loadAllBank() {
            $scope.allBankFromDb = [];
            branchService.getAllBank()
                .then(function onSuccess(response) {
                    $scope.allBankFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }





        $scope.currentPage = 1; //current page
        $scope.entryLimit = 10; //max no of items to display in a page
        $scope.filteredItems = $scope.allBranchFromDb.length; //Initially for no filter
        $scope.totalItems = $scope.allBranchFromDb.length;
        //$scope.maxSize = 15;

        $scope.setPage = function (pageNo) {
            $scope.currentPage = pageNo;
        };
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        $scope.sort_by = function (predicate) {
            $scope.predicate = predicate;
            $scope.reverse = !$scope.reverse;
        };
    });</script>

