@{
    ViewBag.Title = "FGDealer";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}

<div class="col-xs-12 col-sm-12" ng-controller="fgdealerCtrl">

    @* ************ FORM - SECTION (Start) *************** *@
    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">@Resources.ResourceFGDealer.LblFGDealer</div>
        <div class="panel-body  border-green pt pb">
            <div class="row">

                <div class="col-md-2 col-sm-4 col-xs-4 selector-container-div">
                    <div class="panel panel-default selector-container">
                        <div class="panel-body" style="padding: 0;">
                            <div class="form-group">
                                <label class="control-label">@Resources.ResourceDivision.LblDivision</label>
                                <div>
                                    <select ng-change="loadall()" data-ng-model="selectedDivisionId" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in allDivisionFromDb | orderBy: 'Name'" name="selectedDivisionId">
                                        <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceDivision.LblDivision</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class=" control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.DealersZone
                                    </label>
                                </div>
                                <div class="">
                                    <select data-ng-model="DealersZone" class="form-control"
                                            data-ng-options="c.Id as c.ZoneName for c in allDealerZoneFromDb | filter:{'DivisionId':selectedDivisionId}:false" name="DealersZone">
                                        <option value="">@Resources.ResourceFGDealer.Select</option>
                                    </select>
                                  
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">@Resources.ResourceFGDealer.ResourceFGDealerList</label>
                                <div class="" style="height: 300px;">
                                    <select multiple data-ng-model="dealerId" class="form-control listSelect" 
                                            required data-ng-options="c.Id as c.Name for c in allFGDealerFromDb  |filter:{DivisionId:selectedDivisionId, DealersZoneId:DealersZone}:false" name=" dealerid"
                                            style="height: 100%; overflow-y: auto; padding: 0;" ng-click="loadDealerById(dealerId);"></select>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-8 col-xs-8">
                    <div class="form-horizontal">
                        <form name="form" novalidate>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.Name
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="Name" ng-model="Name" required ng-maxlength="100" focus-on="focusMe" />
                                    <b class="help-block" ng-if="form.Name.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.Name)
                                    </b>
                                    <b class="help-block" ng-if="form.Name.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.Address
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="Address" ng-model="Address" required ng-maxlength="200" />
                                    <b class="help-block" ng-if="form.Address.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.Address)
                                    </b>
                                    <b class="help-block" ng-if="form.Address.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.OwnerName
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="OwnerName" ng-model="OwnerName" ng-maxlength="100" focus-on="focusMe" />

                                    <b class="help-block" ng-if="form.OwnerName.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>

                            <div class="form-group" show-errors id="searchdivid">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.OwnerPhone
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="OwnerPhone" ng-model="OwnerPhone" ng-maxlength="50" focus-on="focusMe" />

                                    <b class="help-block" ng-if="form.OwnerPhone.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.ContactPersonName
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="ContactPersonName" ng-model="ContactPersonName" required ng-maxlength="100" />
                                    <b class="help-block" ng-if="form.ContactPersonName.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.ContactPersonName)
                                    </b>
                                    <b class="help-block" ng-if="form.ContactPersonName.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.ContactPersonDesignation
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="ContactPersonDesignation" ng-required="true" ng-model="ContactPersonDesignation" ng-maxlength="100" />
                                    <b class="help-block" ng-if="form.ContactPersonDesignation.$error.required">@string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.ContactPersonDesignation)</b>
                                    <b class="help-block" ng-if="form.ContactPersonDesignation.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.ContactPhone
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" ng-required="true" name="ContactPhone" ng-model="ContactPhone" ng-maxlength="50" />
                                    <b class="help-block" ng-if="form.ContactPhone.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.ContactPhone)
                                    </b>
                                    <b class="help-block" ng-if="form.ContactPhone.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>

                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.ContactEmail
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="ContactEmail" ng-model="ContactEmail" ng-maxlength="50" />
                                    <b class="help-block" ng-if="form.ContactEmail.$error.maxlength">@Resources.ResourceCommon.VMsgToo_Large</b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        @Resources.ResourceFGDealer.DefaultDeliverySite
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="text" name="DefaultDeliverySite" ng-model="DefaultDeliverySite" ng-maxlength="200" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceDivision.LblDivision
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <select data-ng-model="selectedDivisionId2" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in allDivisionFromDb | orderBy: 'Name'" name="selectedDivisionId2">
                                        <option value="">@Resources.ResourceCommon.LblSelect @Resources.ResourceDivision.LblDivision</option>
                                    </select>

                                </div>
                            </div>

                            <div class="form-group" show-errors>
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle">*</b> @Resources.ResourceFGDealer.DealersZone
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <select data-ng-model="DealersZoneId" class="form-control"
                                            data-ng-options="c.Id as c.ZoneName for c in allDealerZoneFromDb | filter:{'DivisionId':selectedDivisionId2}:false" name="DealersZoneId" ng-required="true">
                                        <option value="">@Resources.ResourceFGDealer.Select</option>
                                    </select>
                                    <b class="help-block" ng-if="form.DealersZoneId.$error.required">
                                        @string.Format(Resources.ResourceCommon.VMsgRequired_Name, Resources.ResourceFGDealer.DealersZone)
                                    </b>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.DepartmentId
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <select data-ng-model="DepartmentId" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in allDepartmentFromDb | orderBy: 'Name'" name="DepartmentId" ng-change="getDesignation(DepartmentId)">
                                        <option value="">@Resources.ResourceFGDealer.SelectDepartment</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.DesignationId
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <select data-ng-model="DesignationId" class="form-control"
                                            data-ng-options="c.Id as c.Name for c in DesignationList | orderBy: 'Name'" name="DesignationId" ng-change="getEmployeeByDesignation(DesignationId)">
                                        <option value="">@Resources.ResourceFGDealer.SelectDesignation</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.RelatedEmployeeId
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <select data-ng-model="RelatedEmployeeId" class="form-control"
                                            data-ng-options="c.EmployeeId as c.EmployeeName for c in EmployeeList " name="RelatedEmployeeId">
                                        <option value="">@Resources.ResourceFGDealer.Selectemployee</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.AllocatedCreditLimit
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="number" min="0" name="AllocatedCreditLimit" ng-model="AllocatedCreditLimit" />

                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceFGDealer.AvailableCreditLimit
                                    </label>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <input class="form-control" type="number" min="0" name="AvailableCreditLimit" ng-model="AvailableCreditLimit" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class=" padding-right-zero">
                                    <label class="col-xs-12 col-sm-3 col-md-3 control-label default-color">
                                        <b class="starStyle"></b> @Resources.ResourceCommon.LblIsActive
                                    </label>
                                </div>
                                <div class="col-xs-3 col-sm-1 col-md-1 padding-left-zero">
                                    <div class="col-xs-12 col-sm-10 col-md-8">
                                        <input class="form-control" type="checkbox" ng-model="IsActive" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-3 col-sm-offset-3 col-xs-12 col-sm-8 col-md-8  padding-right-zero">
                                    <input type="button" ng-click="addFGDealer()" class="btn btn-primary" value=@Resources.ResourceCommon.LblSave />
                                    <input type="button" ng-click="reset()" class="btn btn-default" value=@Resources.ResourceCommon.LblReset />

                                    <input ng-if="dealerId" type="button" value=@Resources.ResourceCommon.LblDelete class="btn btn-danger " ng-bootbox-confirm='@Resources.ResourceCommon.MsgConfirm_Delete'
                                           ng-bootbox-confirm-action="deleteFGDealer()" ng-bootbox-confirm-action-cancel="confirmCallbackCancel(attr1, attr2)" />

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* ************ FORM - SECTION (End)*************** *@


    @* ************ POP-UP MODEL (Start)*************** *@
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>
    @* ************ POP-UP MODEL (End)*************** *@

</div>

<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });
    app.factory('focus', function ($rootScope, $timeout) {
        return function (name) {
            $timeout(function () {
                $rootScope.$broadcast('focusOn', name);
            });
        };
    });
    app.factory('fgdealerService', ['$http', function ($http) {

        return {
            saveFGDealer: function (fgdealer) {
                return $http({
                    url: '/FGDealer/CreateFGDealer',
                    method: 'POST',
                    data: fgdealer
                });
            },
            getFGDealer: function (id) {
                return $http.get('/FGDealer/GetFGDealer/' + id);
            },
            getAllDealerZone: function () {
                return $http.get('/FGDealerZone/GetFGDealerZoneList');
            },
            getAllEmployee: function () {
                return $http.get('/Employee/GetEmployeeList');
            },
            getAllDivision: function () {
                return $http.get('/Division/GetDivisionList');
            },
            getAllFGDealer: function () {
                return $http.get('/FGDealer/GetFGDealerListForShowData');
            },
            getAllDepartment: function () {
                return $http.get('/Department/GetDepartmentList');
            },
            getAllDesignationByDept: function (id) {// But Here All Designation are geted
                return $http.get('/Designation/GetDesignationListByDepartmentId/' + id);
            },

            getAllEmployeeByDesignation: function (id) {
                return $http.get('/EmploymentHistory/GetEmployeeListByDesignationId/' + id);
            },
            deleteFGDealer: function (fgdealer) {
                return $http({
                    url: '/FGDealer/DeleteFGDealer',
                    method: 'POST',
                    data: fgdealer
                });
            }
        };
    }]);
    app.controller('fgdealerCtrl', function ($scope, $timeout, $http, focus, $location, $anchorScroll, fgdealerService, $log, $ngBootbox) {

        if ('@ViewBag.permission' === "NO") {
            $scope.NoPermission = true;
        }
        $scope.IsActive = true;
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';

        $scope.showModalforSearch = false;
        // Add a new fgdealer
        $scope.addFGDealer = function () {
            $scope.$broadcast('show-errors-check-validity');
            if ($scope.form.$valid) {
                var fgdealer = {};
                fgdealer["Id"] = $scope.Id;
                fgdealer["Name"] = $scope.Name;
                fgdealer["ContactPersonName"] = $scope.ContactPersonName;
                fgdealer["ContactPersonDesignation"] = $scope.ContactPersonDesignation;
                fgdealer["ContactPhone"] = $scope.ContactPhone;
                fgdealer["ContactEmail"] = $scope.ContactEmail;
                fgdealer["Address"] = $scope.Address;
                fgdealer["OwnerName"] = $scope.OwnerName;
                fgdealer["OwnerPhone"] = $scope.OwnerPhone;
                fgdealer["DefaultDeliverySite"] = $scope.DefaultDeliverySite;
                fgdealer["DealersZoneId"] = $scope.DealersZoneId;
                fgdealer["RelatedEmployeeId"] = $scope.RelatedEmployeeId;
                fgdealer["AllocatedCreditLimit"] = $scope.AllocatedCreditLimit;
                fgdealer["AvailableCreditLimit"] = $scope.AvailableCreditLimit;
                fgdealer["IsActive"] = $scope.IsActive;


                fgdealerService.saveFGDealer(fgdealer)
                .then(function onSuccess(response) {
                    loadAllFGDealer();
                    $scope.messageModalObj.message = response.data.message;
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    $scope.reset();

                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInSaving');
                });
            }
        };
        // Populate fgdealer

        $scope.selectedRow = null;
        $scope.populateFGDealer = function (rowvalue) {
            $scope.selectedRow = rowvalue;
            $scope.Id = rowvalue.Id;
            $scope.Name = rowvalue.Name;
            $scope.ContactPersonName = rowvalue.ContactPersonName;
            $scope.ContactPersonDesignation = rowvalue.ContactPersonDesignation;
            $scope.ContactPhone = rowvalue.ContactPhone;
            $scope.ContactEmail = rowvalue.ContactEmail;
            $scope.Address = rowvalue.Address;
            $scope.OwnerName = rowvalue.OwnerName;
            $scope.OwnerPhone = rowvalue.OwnerPhone;
            $scope.DefaultDeliverySite = rowvalue.DefaultDeliverySite;
            $scope.selectedDivisionId2 = rowvalue.DivisionId;
            $scope.DealersZoneId = rowvalue.DealersZoneId;
            $scope.ZoneName = rowvalue.ZoneName;

            $scope.DepartmentId = rowvalue.DepartmentId;
            $scope.getDesignation(rowvalue.DepartmentId);

            $scope.DesignationId = rowvalue.DesignationId;
            $scope.getEmployeeByDesignation(rowvalue.DesignationId);
            $scope.RelatedEmployeeId = rowvalue.RelatedEmployeeId;
            $scope.EmployeeName = rowvalue.EmployeeName;
            $scope.AllocatedCreditLimit = rowvalue.AllocatedCreditLimit;
            $scope.AvailableCreditLimit = rowvalue.AvailableCreditLimit;
            $scope.IsActive = rowvalue.IsActive;


            $location.hash('searchDivId');
            $anchorScroll();
            focus('focusMe');
            $scope.desableIdField = true;
        }

        $scope.reset = function () {
            $scope.$broadcast('show-errors-reset');
            $scope.selectedRow = null;
            $scope.Id = '';
            $scope.Name = '';
            $scope.ContactPersonName = '';
            $scope.ContactPersonDesignation = '';
            $scope.ContactPhone = '';
            $scope.ContactEmail = '';
            $scope.Address = '';
            $scope.OwnerName = '';
            $scope.OwnerPhone = '';
            $scope.DefaultDeliverySite = '';
            $scope.DealersZoneId = '';
            $scope.ZoneName = '';
            $scope.RelatedEmployeeId = '';
            $scope.DepartmentId = '';
            $scope.DesignationId = '';
            $scope.EmployeeName = '';
            $scope.AllocatedCreditLimit = '';
            $scope.AvailableCreditLimit = '';
            $scope.dealerId = '';
            $scope.IsActive = '';
            $scope.selectedDivisionId2 = '';


        }

        $scope.deleteFGDealer = function () {
            var fgdealer = {};
            fgdealer["Id"] = $scope.Id;
            fgdealerService.deleteFGDealer(fgdealer)
            .then(function onSuccess(response) {
               $scope.messageModalObj.message = response.data.message;
               $scope.showModalforSearch = true;
               $timeout(function () { $scope.showModalforSearch = false; }, 3000);
               $scope.reset();
               loadAllFGDealer();
           })
            .catch(function onError(response) {
           $ngBootbox.alert('@Resources.ResourceCommon.MsgNot_deleted');
       });
        }

        loadAllDivision();
        function loadAllDivision() {
            $scope.allDivisionFromDb = [];
            fgdealerService.getAllDivision()
                .then(function onSuccess(response) {
                    $scope.allDivisionFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }

        loadAllDepartment();
        function loadAllDepartment() {
            fgdealerService.getAllDepartment()
                    .then(function onSuccess(response) {
                        $scope.allDepartmentFromDb = response.data;
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });

        }

        $scope.getDesignation = function (departmentId) {
            // $scope.allDesignationByDepartment = [];
            if (departmentId != undefined && departmentId !== '' && departmentId !== null) {
                fgdealerService.getAllDesignationByDept(departmentId)
                    .then(function onSuccess(response) {
                        $scope.DesignationList = response.data;
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
            }
        }

        $scope.getEmployeeByDesignation = function (designationId) {
            if (designationId != undefined && designationId !== '' && designationId !== null) {
                fgdealerService.getAllEmployeeByDesignation(designationId)
                    .then(function onSuccess(response) {
                        $scope.EmployeeList = response.data;
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
            }
        }

        $scope.loadDealerById = function (dealerId) {
            fgdealerService.getFGDealer(dealerId)
                .then(function onSuccess(response) {
                    $scope.populateFGDealer(response.data);
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }


       

        loadAllDealerZone();
        function loadAllDealerZone() {
            $scope.allDealerZoneFromDb = [];
            fgdealerService.getAllDealerZone()
                .then(function onSuccess(response) {
                    $scope.allDealerZoneFromDb = response.data;
                })
                .catch(function onError(response) {
                    $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                });
        }



       
        $scope.loadall =function () {
            if ($scope.selectedDivisionId == null) {
                $scope.selectedDivisionId = undefined;
                $scope.DealersZone = undefined;
                //$scope.allDealerZoneFromDb = [];
                //loadAllDealerZone();
               // loadAllFGDealer();
           }
        }



        // Load FGDealer
        loadAllFGDealer();
        function loadAllFGDealer() {
            $scope.allFGDealerFromDb = [];
            fgdealerService.getAllFGDealer()
                    .then(function onSuccess(response) {
                        $scope.allFGDealerFromDb = response.data;
                    })
                    .catch(function onError(response) {
                        $ngBootbox.alert('@Resources.ResourceCommon.MsgErrorInLoading');
                    });
        }

        //$scope.currentPage = 1; //current page
        //$scope.entryLimit = 10; //max no of items to display in a page
        //$scope.filteredItems = $scope.allFGDealerFromDb.length; //Initially for no filter
        //$scope.totalItems = $scope.allFGDealerFromDb.length;
        ////$scope.maxSize = 15;

        //$scope.setPage = function (pageNo) {
        //    $scope.currentPage = pageNo;
        //};
        $scope.filter = function () {
            $timeout(function () {
                $scope.filteredItems = $scope.filtered.length;
            }, 9000);
        };
        //$scope.sort_by = function (predicate) {
        //    $scope.predicate = predicate;
        //    $scope.reverse = !$scope.reverse;
        //};
    });
</script>
