@{
    ViewBag.Title = Resources.ResourceLcReport.Title;
    //Layout = "~/Views/Shared/_MenuLayout.cshtml";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}


<div class="col-xs-12 col-sm-12" ng-controller="lcReportCtrl">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3">
            <modal title='@Resources.ResourceCommon.MsgHeaderSuccess' visible="showModalforSearch">
                <form name="form.update" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span>{{messageModalObj.message}}</span>
                        </div>
                    </div>
                </form>
            </modal>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading text-lg text-bold text-uppercase">
            @Resources.ResourceLcReport.Heading
            @*<a class="btn btn-sm btn-primary pull-right buttonItemBStyle" href="/LC/Index?redirectPage=ShowDemandReport">@Resources.ResourceCommon.LblCreateNew</a>*@
        </div>
        <div class="panel-body border-green pt pb">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-7 padding-left-right-zero">
                                <div class="col-md-6 padding-left-right-zero">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color" style="text-align: right; line-height: 25px;">
                                            @Resources.ResourceLcReport.FromDate
                                        </label>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <input type="text" class="form-control" data-date-format="dd-MMM-yy" data-placement="auto" data-container="body"
                                                   bs-datepicker autoclose="true" ng-model="FromDate" name='FromDate' />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color" style="text-align: right; line-height: 25px;">
                                            @Resources.ResourceLcReport.ToDate
                                        </label>
                                        <div class="col-xs-12 col-sm-8 col-md-8">
                                            <input type="text" class="form-control" data-date-format="dd-MMM-yyyy" data-placement="auto" data-container="body"
                                                   bs-datepicker autoclose="true" ng-model="ToDate" name='ToDate' />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 padding-left-right-zero">
                                @*<div class="col-md-9">
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-4 col-md-4 control-label default-color" style="text-align: right; line-height: 25px;">
                                                @Resources.ResourceLcReport.LC
                                            </label>
                                            <div class="col-xs-12 col-sm-8 col-md-8">
                                                <input type="text" class="form-control" ng-model="LCNo" name='LCNo' />
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="button" class="btn btn-primary" ng-click="loadDataWithPaging()" value=@Resources.ResourceLcReport.LoadData />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" style="padding-left: 15px; margin-right: 0;">

                        <table id="loc" class="table slidable-table">
                            <tr>
                                <td>
                                    <table class="table table-bordered" ng-repeat="data in filtered = (dataList  | filter:SearchText) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                        <tr>
                                            <td style="background: #dcdcdc">@Resources.ResourceLcReport.LLC</td>
                                            <td>{{data.LCNo}}</td>
                                            <td>{{data.LCIssueDate}}</td>
                                            <td style="text-align: right">{{data.LcAmendentCurrency}}{{data.LcAmendentTotal}}</td>
                                            <td>{{data.ItemsDescription}}</td>
                                            @*<td>{{data.ItemsAmountsUnit}}</td>*@
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>@Resources.ResourceLcReport.Invoice</th>
                                                            <th>@Resources.ResourceLcReport.InvDate</th>
                                                            <th>@Resources.ResourceLcReport.InvValue</th>
                                                            <th>@Resources.ResourceLCShipment.ShipmentDate</th>
                                                            <th>@Resources.ResourceLcReport.Qty</th>
                                                            <th>@Resources.ResourceLCShipment.Container</th>
                                                            <th>@Resources.ResourceLcReport.DelvDate</th>
                                                            <th>@Resources.ResourceLcReport.BE</th>
                                                            <th>@Resources.ResourceLcReport.BEDate</th>
                                                            <th>@Resources.ResourceLCShipment.Duty</th>
                                                            <th>@Resources.ResourceLcReport.PaymentAmount</th>
                                                            <th>@Resources.ResourceLCShipment.PaymentDate</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="detData in data.customInvoiceShipmentMixed">
                                                            <td>{{$index+1}}</td>
                                                            @*<td ng-if="LCNo" ng-class="{'grn': data.isIssue == 'YES', brn: data.isIssue == 'NO'}">
                                                {{data.isIssue}}
                                            </td>*@
                                                            <td>{{detData.CommercialInvoiceNo }}</td>
                                                            <td>{{detData.InvoiceDateString }}</td>
                                                            <td style="text-align: right">{{detData.CurrenyCode}}{{detData.ItemTotalAmount }}</td>
                                                            <td>{{detData.ShipmentDateString }}</td>
                                                            <td>{{detData.InvoiceQtyWithUnitAndItemName}}</td>
                                                            <td>{{detData.Container }}</td>
                                                            <td>{{detData.ArrivalDateString }}</td>
                                                            <td>{{detData.BillOfEntryNo }}</td>
                                                            <td>{{detData.BillOfEntryDateString }}</td>
                                                            <td>{{detData.Duty }}</td>
                                                            <td>{{detData.PaymentAmount}}</td>
                                                            <td>{{detData.PaymentDateString }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>


                                </td>
                            </tr>
                        </table>

                        <div class="form-group">
                            <div class="col-md-8 padding-right-zero">
                                <button ng-click="printdiv();" class="btn btn-primary">@Resources.ResourceLcReport.ExportLCReport</button>
                            </div>
                        </div>

                    </div>

                    @*<div class="row">
                            <div class="col-md-12">
                                <pagination page="pagingInfo.page"
                                            total-items="pagingInfo.totalItems"
                                            items-per-page="pagingInfo.itemsPerPage"
                                            on-select-page="selectPage(page)"
                                            max-size="pagingInfo.itemsPerPage"
                                            rotate="false"
                                            boundary-links="true">
                                </pagination>

                            </div>
                        </div>*@

                </div>
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    app.filter('startFrom', function () {
        return function (input, start) {
            if (input) {
                start = +start; //parse to int
                return input.slice(start);
            }
            return [];
        }
    });

    app.factory('lcReportService', ['$http', function ($http) {
        return {
            getAllItemDemandWithPaging: function (pagingInfo) {
                return $http.get('/ItemDemand/GetItemDemandListWithPaging', { params: pagingInfo });
            },

            getLcReport: function (fromDate, toDate, lcNo) {
                return $http.get('/LCReport/GetLcReportList/', { params: { "fromDate": fromDate, "toDate": toDate, "LCNo": lcNo } });
            }
        };
    }]);

    app.controller('lcReportCtrl', function($scope, $timeout, $http, $location, $anchorScroll, lcReportService, $log, $ngBootbox, $filter) {
        $scope.ToDate = $filter('date')(Date.now(), 'yyyy-MM-dd');
        $scope.messageModalObj = {};
        $scope.messageModalObj.message = '';
        $scope.showModalforSearch = false;
        $scope.currentPage = 1;
        $scope.entryLimit = 100;
        $scope.total = 0;
        $scope.pagingInfo = {
            page: 1,
            itemsPerPage: 10,
            sortBy: 'LCNo',
            reverse: true,
            search: '',
            totalItems: 0,
            status: null
        };

        $scope.sort = function (sortBy) {
            //alert(43434)
            if (sortBy === $scope.pagingInfo.sortBy) {
                $scope.pagingInfo.reverse = !$scope.pagingInfo.reverse;
            } else {
                $scope.pagingInfo.sortBy = sortBy;
                $scope.pagingInfo.reverse = true;
            }
            $scope.pagingInfo.page = 1;
            $scope.loadIssuesWithPaging();
        };

        $scope.selectPage = function (page) {
            $scope.pagingInfo.page = page;
            $scope.loadIssuesWithPaging();
        };

        $scope.loadDataWithPaging = function () {
            if ($scope.FromDate !== undefined && $scope.FromDate !== null && $scope.FromDate !== "") { }
            else {
                $scope.messageModalObj.message = '@Resources.ResourceLcReport.SelectFromDate';
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                return null;
            }
            if ($scope.ToDate !== undefined && $scope.ToDate !== null && $scope.ToDate !== "") { }
            else {
                $scope.messageModalObj.message = '@Resources.ResourceLcReport.SelectToDate';
                $scope.showModalforSearch = true;
                $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                return null;
            }

            var fromDate = new Date($scope.FromDate).toDateString();
            var toDate = new Date($scope.ToDate).toDateString();

            //var fromDate = $scope.FromDate;
            //var toDate = $scope.ToDate;

            $scope.dataList = [];
            lcReportService.getLcReport(fromDate, toDate, $scope.LCNo).then(function onSuccess(response) {
                if (response.data != null) {
                    if (response.data.length !== 0) {
                        $scope.dataList = response.data;
                    } else {
                        $scope.messageModalObj.message = "@Resources.ResourceLcReport.NoData";
                        $scope.showModalforSearch = true;
                        $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                    }
                }
                else {
                    $scope.messageModalObj.message = "@Resources.ResourceLcReport.NoData";
                    $scope.showModalforSearch = true;
                    $timeout(function () { $scope.showModalforSearch = false; }, 3000);
                }
            }).catch(function onError(response) {
                $ngBootbox.alert('@Resources.ResourceLcReport.ErrorGenerate');
            });
        }

        $scope.exportMethod = function () {
            var printContents = document.getElementById('loc').innerHTML;
            var tab_text = "<div style='width:100%;;font-size:15px;'>" +
                "</div>" +
                "<div style='text-align: center;'>" +
                "<label style='font-size: 50px; color: #030D1C;'> LC REPORT </label></div>";
            var textRange; var j = 0;
            tab = document.getElementById('loc'); // id of table

            for (j = 0 ; j < tab.rows.length ; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "LCReport.xls");
            }
            else                 //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }

        $scope.printdiv = function () {
            $timeout(function () {
                $scope.exportMethod();
                //location.reload();
            }, 1000);
        }


        if ('@ViewBag.permission' === "NO") {
            $scope.NoPermission = true;
        }
    });</script>
