@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Angular1_6_7NewMenuView.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Resources.ResourceCommon.SalesHighchart
            </div>
            <div class="panel-body" style="border: 1px solid #428bca;">
                <div id="salescontainer" style="height:275px;"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Resources.ResourceCommon.ProductionHighchart
            </div>
            <div class="panel-body" style="border: 1px solid #428bca;">
                <div id="productincontainer" style="height:275px;"></div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Resources.ResourceCommon.GradeWiseStock
            </div>
            <div class="panel-body" style="border: 1px solid #428bca;">
                <div id="codewisestockcontainer" style="height:275px;"></div>
            </div>
        </div>
    </div> 
    

</div>




<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @Resources.ResourceCommon.LblStockStatus
            </div>
            <div class="panel-body" style="border: 1px solid #428bca;">
                <div id="container" style="height:275px;"></div>
            </div>
        </div>
        
    </div>

    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                @Resources.ResourceCommon.LblPendingListForApproval
            </div>
            <div class="panel-body" style="border: 1px solid #428bca; padding-left:20px; padding-right:20px;">

                <div class="list-group custom-List-group">
                    <a href="/Itemissue/IndexPending" class="list-group-item">
                        @Resources.ResourceCommon.LblPendingIssueList
                        @*Pending Issue List*@
                    </a>
                    <a href="/PurchaseRequisition/IndexPending" class="list-group-item">
                        @Resources.ResourceCommon.LblPendingPurchaseRequisitionList
                    @*Pending Purchase Requisition List*@
                    </a>
                </div>
            </div>
        </div>

        @*<h4 style="text-align:center">PENDING LIST FOR APPROVAL</h4>
        <div style="margin-left:150px;padding:20px;">
            <ul>
           <li> <a  class="btn  btn-info" type="button" href="/Itemissue/IndexPending">Pending Issue List</a> </li><br>
           <li> <a class="btn btn-info" type="button" href="/PurchaseRequisition/IndexPending">Pending Purchase Requisition List</a> </li> 
           </ul>
        </div>*@  
    </div>
   

</div>







<script type="text/javascript">


    // Item ...............

        var chart;
        $(document).ready(function () {

            Highcharts.setOptions({
           
                lang: {
          
                    thousandsSep: ','
                }
            });

            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container'

                },
                title: {
                    text: ''
                },

                xAxis: [{
                    categories: @Html.Raw(Json.Encode(ViewData["namelist"]))
                    },
                {
                    title: {
                        text: ' @Resources.ResourceCommon.Name_of_item'
                    }
                }],
                yAxis: [{
                    title: {
                        text: ' @Resources.ResourceCommon.Value'
                    }
                }],

                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: false,
                            rotation: -80,
                            y:-17,
                           
                        }
                    }
                },


                series: [{

                    showInLegend: false,


                }, {

                    showInLegend: false,
                } ,
                {

                    type: 'column',
                    name: "@Resources.ResourceCommon.Quantity",
                    data: @Html.Raw(Json.Encode(ViewData["qtylist"])),
                },
                {
                    type: 'column',
                    name: "@Resources.ResourceCommon.Reorder_Level",
                    data: @Html.Raw(Json.Encode(ViewData["threslist"])),


                }

                ]

            });

        });







    // code wise fg stock ...............

    var chart;
    $(document).ready(function () {

        Highcharts.setOptions({
           
            lang: {
          
                thousandsSep: ','
            }
        });

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'codewisestockcontainer'


            },
            legend: {
                enabled: false
            },

            title: {
                text: ''
            },

            xAxis: [{
                    categories: @Html.Raw(Json.Encode(ViewData["codelist"]))
                },
                {
                    title: {
                        text: '@Resources.ResourceCommon.Productcode'
                    }
                }],
            yAxis: [{
                title: {
                    text: ' @Resources.ResourceCommon.Value'
                }
            }],

            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: false,
                        rotation: -80,
                        y:-17,
                           
                    }
                }
            },


            series: [{

                    showInLegend: false,


                }, {

                    showInLegend: false,
                } ,

                {

                    type: 'column',
                    name: "@Resources.ResourceCommon.GradeA",
                    data: @Html.Raw(Json.Encode(ViewData["gradeAlists"])),
                },
                @*{
                    type: 'column',
                    name: "Grade B",
                    data: @Html.Raw(Json.Encode(ViewData["gradeBlists"])),


                }*@

            ]


        });

    });





// Product Sales.........


    var chart;
    $(document).ready(function () {

        Highcharts.setOptions({
           
            lang: {
          
                thousandsSep: ','
            }
        });
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'salescontainer'

            },
            title: {
                text: ''
            },

            xAxis: [{
                categories: @Html.Raw(Json.Encode(ViewData["datesList"]))
            },
            {
                title: {
                    text: ' @Resources.ResourceCommon.Sales_Date'
                }
            }],

            yAxis: [{
                title: {
                    text: ' @Resources.ResourceCommon.Value'
                }
            }],

            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: false,
                        rotation: -80,
                        y:-17,
                        
                    }
                }
            },

            series: [{

                showInLegend: false,


            }, {

                showInLegend: false,
            } ,
            {

                type: 'column',
                name: "@Resources.ResourceCommon.SFT",
                data: @Html.Raw(Json.Encode(ViewData["sftList"])),
            },
            {
                type: 'column',
                name: "@Resources.ResourceCommon.CTN",
                data: @Html.Raw(Json.Encode(ViewData["ctnList"])),


            },
            {
                type: 'column',
                name: "@Resources.ResourceCommon.PCS",
                data: @Html.Raw(Json.Encode(ViewData["pcsList"])),


            }

            ]

        });

    });


// product in.............

    var chart;
    $(document).ready(function () {

        Highcharts.setOptions({
           
            lang: {
          
                thousandsSep: ','
            }
        });

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'productincontainer'

            },
            title: {
                text: ''
            },

            xAxis: [{
                categories: @Html.Raw(Json.Encode(ViewData["productInDate"]))
            },

            {
                title: {
                    text: ' @Resources.ResourceCommon.Product_In_Date'
                }
            }],

            yAxis: [{
                title: {
                    text: ' @Resources.ResourceCommon.Value'
                   
                }


            }],

            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: false,
                        rotation: -80,
                        y:-17,
                    }
                }
            },

           
            series: [{

                showInLegend: false,


            }, {

                showInLegend: false,
            } ,
            {

                type: 'column',
                name: "@Resources.ResourceCommon.SFT",
                data: @Html.Raw(Json.Encode(ViewData["productInSft"])),
                color:'#B152E8',

            },
            {
                type: 'column',
                name: "@Resources.ResourceCommon.CTN",
                data: @Html.Raw(Json.Encode(ViewData["productInCtn"])),
                color:'#444D7C',


            },
            {
                type: 'column',
                name: "@Resources.ResourceCommon.PCS",
                data: @Html.Raw(Json.Encode(ViewData["productInPcs"])),
                color:'#E6523B',


            }

            ]

        });

    });


    

</script>